<h3 class='mcstatus--header text--primary'>
  {{! checks if the status is either good, minor, or major }}
  {{#MinecraftStatus_ifCond status 'good'}}
    The status of Minecraft is <span class='mcstatus--good'>{{status}}</span>.
  {{else}}
    {{#MinecraftStatus_ifCond status 'minor'}}
      Minecraft is experiencing <span class='mcstatus--minor'>{{status}}</span> issues.
    {{else}}
      Minecraft is experiencing <span class='mcstatus--major'>{{status}}</span> issues.
    {{/MinecraftStatus_ifCond}}
  {{/MinecraftStatus_ifCond}}
  <h6 class='mcstatus--message text--secondary'>{{message}}</h6>
</h3>
