<div class="septa__time">{{departure_time}}</div>
<div class="septa__details">
    {{#if cancelled}}N/A{{else}}Arrives {{arrival_time}}{{/if}}<br/>
    {{orig_line}}<br/>
    Train {{orig_train}}
</div>
<div class="septa__status-sep">
    <div class="septa__sep-line"></div>
    <div class="septa__badge {{status_class}}"></div>
    <div class="septa__sep-line"></div>
</div>
<div class="septa__status">
    <div class="one-line">{{status}}</div>
</div>