<div>
    <div><a href="{{permalink_url}}">{{title}}</a> by <a href="{{user.permalink_url}}">{{user.username}}</a> <div id="{{id}}" class="stopped soundcloud-stream" onclick="ddg_spice_sound_cloud.clicked(this)" data-stream="{{toHttps stream_url}}?client_id=df14a65559c0e555d9f9fd950c2d5b17"></div></div>
</div>