<ul class="playlist">
    <li><a href="javascript:void(0);" data-stream="{{toHttps stream_url}}?client_id=df14a65559c0e555d9f9fd950c2d5b17" id="{{id}}" {{initializeSound id}}>{{title}} <span class="sidenote">by {{user.username}}</span></a></li>
</ul>