{{#with data.repositories.[0]}}
    <i>Description</i>: {{name}}
    <br>
    <i>Owner</i>: <a href="https://github.com/{{owner}}">{{owner}}</a>
    <br>
    <i>Activity</i>: last updated {{last_pushed}}, {{watchers}} watching, {{forks}} <a href="{{url}}/network">forks</a> and {{open_issues}} <a href="{{url}}/issues">issues</a>
{{/with}}