<div class="tile tile--c data-link="{{url}}">
	<div class="tile__body">
		<p class="tile__name">{{name}}</p>
		<div class="tile__owner">
			<i>Owner: </i><a href="https://github.com/{{owner}}">{{owner}}</a>
		</div>
		<p>{{{ellipsis description 68}}}</p>
		<span class="tile__updated">{{watchers}} <i>&middot; Updated </>{{last_pushed}} </span>
	</div>
</div>
