<div class="tile tile--c data-link="{{url}}">
	<div class="tile__body">
		<p class="tile__name">{{name}}</p>
		<div class="tile__owner">
			<i>Owner: {{owner}}</i>
		</div>
		<p>{{{ellipsis description 68}}}</p>
		<i class="star starIcon"></i><span class="tile__updated">{{watchers}} <i>&middot; Updated </>{{last_pushed}} </span>
	</div>
</div>
