<div class="tile tile--c" data-link="{{url}}">
	<div class="tile__body">
		<p class="tile__name">{{name}}</p>
		<div class="tile__owner">
			<i>Owner: {{owner}}</i>
		</div>
		<p>{{{ellipsis description 68}}}</p>
		<div class="tile__update__info"> 
			<div class="tile__updated">
				<i class="star starIcon"></i>
				{{watchers}} &middot; Updated {{last_pushed}} 
			</div>
		</div>
	</div>
</div>
