<div class="transit_njt__time text--primary">{{departure_time}}</div>
<div class="transit_njt__details">
    {{#if cancelled}}N/A{{else}}Arrives {{arrival_time}}{{/if}}<br/>
    {{line}}<br/>
    Train {{train}}
</div>
<div class="transit_njt__status-sep">
    <div class="transit_njt__sep-line"></div>
    <div class="transit_njt__badge {{status_class}}"></div>
    <div class="transit_njt__sep-line"></div>
</div>
<div class="transit_njt__status">
    <div class="one-line text--secondary {{#if bold_status_text}}transit_njt__bold-status{{/if}}">{{status}}</div>
    {{#if track}}
        <div class="one-line">Track {{track}}</div>
    {{else}}
        <div class="one-line transit_njt__no-track">Track N/A</div>
    {{/if}}
</div>
