<table>
{{#each aqi_measurements}}
    <tr>
      <td>
        <span class="status__badge {{aqi_circle_category Category.Name}}"></span>
      </td>
      <td>
        <b><a class="help__link" href={{aqi_help_link ParameterName}}>{{ParameterName}}</a>:</b>
      </td>
      <td>
        &nbsp;&nbsp;<b>{{AQI}}</b>
      </td>
      <td>
        &nbsp;&nbsp;{{Category.Name}}
      </td>
      <td></td>
      <td>
        &nbsp;&nbsp;&nbsp;&nbsp;<small>(as of {{DateObserved}} {{HourObserved}}:00 {{LocalTimeZone}}</small>)
      </td>
    </tr>
{{/each}}
</table>
