<span class="list__item">
    <span class="category__badge {{aqi_circle_category Category.Name}}"></span>
    <a class="help__link" href={{aqi_help_link ParameterName}}>{{ParameterName}}</a>
    <span class="meas__value">{{AQI}}</span>
    <span class="category__name">{{Category.Name}}</span>
    <span class="meas__date">as of {{DateObserved}} {{HourObserved}}:00 {{LocalTimeZone}}</span>
</span>
