<div class="one-line  text--secondary">{{created_at}}</div>
<div class="tile__domain  one-line  text--secondary">{{author}}</div>
<div class="one-line">
    <span class="tile__score  text--primary">{{points}}</span> &middot; <a href="http://news.ycombinator.com/item?id={{objectID}}">{{plural num_comments singular="Comment" plural="Comments"}}</a>
</div>