<div class='tile__media'>
    <div class="image-under">
        <img src="{{imageProxy image}}" class="pis-icon"/>
    </div>
</div>
<div class="image-over">
    <img src="{{imageProxy icon}}" class="pis-icon--alt"/>
</div>
<div class="info">
    <span class="name tx-clr--dk">{{name}}</span>
    <span class="title tx-clr--dk">({{title}})</span>
    <span class="days tx-clr--lt">{{daysElapsed}} days</span>
</div>