<div class="zci__main zci__main-wrap">
    <div class="zci__img-wrap">
        <img src="{{imageProxy biophoto}}" class="zci__img">
    </div>
    <div class="zci__body">
        <div class="details clearfix">
                <h5 class="tx-clr--dk">{{name}}</h5>
                <p>{{bio}}</p>
                <ul>
                    <li>Position</li>
                    <li>Country</li>
                    <li>Launch Date</li>
                    {{#if twitter}}
                        <li>Twitter</li>
                    {{/if}}
                </ul>
                <ul class="right">
                    <li>{{title}}</li>
                    <li>{{country}}</li>
                    <li>{{launchdate}}</li>
                    {{#if twitter}}
                        <li><a class="tx-clr--dk2" href="https://twitter.com/{{twitter}}">@{{twitter}}</a></li>
                    {{/if}}
                </ul>
        </div>
        <div class="callout">
            <a href="{{biolink}}" class="tx-clr--dk2 btn">View Full Bio</a>
        </div>
    </div>
</div>
