<div class="detail__media">
    <img class="detail__media__img" src="{{imageProxy biophoto}}" alt="imageAlt" />
</div>
<div class="detail__body">
    <div class="detail__body__content">
        <h5 class="tx-clr--dk">{{name}}</h5>
        <p>{{bio}}</p>
        <ul>
            <li>Position</li>
            <li>Country</li>
            <li>Launch Date</li>
            {{#if twitter}}
            <li>Twitter</li>
            {{/if}}
        </ul>
        <ul class="right">
            <li>{{title}}</li>
            <li>{{country}}</li>
            <li>{{launchdate}}</li>
            {{#if twitter}}
                <li><a class="tx-clr--dk2" href="https://twitter.com/{{twitter}}">{{twitter}}</a></li>
            {{/if}}
        </ul>
        <div class="callout">
            <a href="{{biolink}}" class="tx-clr--dk2 btn">View Full Bio</a>
        </div>
    </div>
</div>