<div class="gw">
    <div class="g twenty">
        <img src="{{image}}" title="{{name}}"/>
    </div>
    <div class="g eighty item-info">
        <h1 class="zci__header">
            {{name}}
        </h1>
        <hr class="divider" />
        <div class="twenty text--secondary">
            Cost
        </div>
        <div class="eighty eighty--screen-s seventy--screen-xs">
            <img src="{{assets.gold.image}}" title="{{assets.gold.title}}"/> {{cost}}
        </div>
        {{#if description}}
            <div class="twenty text--secondary">
                Description
            </div>
            <div class="eighty eighty--screen-s seventy--screen-xs">
                {{{description}}}
            </div>
        {{/if}}
        {{#if notes}}
            <div class="twenty text--secondary">
                Notes
            </div>
            <div class="eighty eighty--screen-s seventy--screen-xs">
                {{{notes}}}
            </div>
        {{/if}}
        {{#if attributes}}
            <div class="twenty text--secondary">
                Attributes
            </div>
            <div class="eighty eighty--screen-s seventy--screen-xs">
                {{{attributes}}}
            </div>
        {{/if}}
        {{#if components}}
            <hr class="divider" />
            <div class="twenty text--secondary">
                Recipe
            </div>
            <div class="eighty eighty--screen-s seventy--screen-xs">
                <table>
                    <tr>
                        {{#each components}}
                            <td class="item-component">
                                <a href="/?q=dota2+{{searchTerms}}&ia=dota2">
                                    <img src="{{img}}" title="{{name}}"/>
                                </a>
                            </td>
                        {{/each}}
                    </tr>
                </table>
            </div>
        {{/if}}
    </div>
</div>
