<div class="card" id="{{matchid}}">
    <div class="zci-cricket-score-head">
        <span class="zci-cricket-score-head-date" style="float: left;">{{date}}</span>
        {{#if stage}}
            <span style="float: right; text-transform: capitalize;">{{matchNo}}</span>
        {{else}}
            <span style="float: right;">{{startTime}}</span>
        {{/if}}
    </div>
    <div class="zci-cricket-content {{matchid}}" onclick="show({{matchid}});">
        <span>{{mtype}}</span>
        <span class="zci-cricket-team">
                <span>
                    {{#if this.teams.0.logo}}
                        <img class="zci-cricket-team-logo" src="{{this.teams.0.logo}}"
                             alt="team logo">
                    {{/if}}
                    <span class="zci-cricket-team-name">
                        {{this.teams.0.Team}}
                        <span class="score-{{this.teams.0.teamid}}"></span>
                    </span>
                </span>
                <span>
                    {{#if this.teams.1.logo}}

                        <img class="zci-cricket-team-logo" src="{{this.teams.1.logo}}"
                             alt="team logo">
                    {{/if}}
                    <span class="zci-cricket-team-name">
                        {{this.teams.1.Team}}
                        <span class="score-{{this.teams.1.teamid}}"></span>
                    </span>
                </span>
        </span>
        {{#if winnersn}}
            <span>{{winnersn}} by {{result.by}} {{result.how}}</span>
        {{else}}
            <span class="live-status-{{matchid}}">{{this.startTime}}</span>
        {{/if}}
    </div>
    <span id="show" class="chevron" onclick="show({{matchid}});"></span>
    <span id="hide" class="chevron zci-cricket-inactive" onclick="show({{matchid}});"></span>
    <div class="zci-cricket-match zci-cricket-inactive" onclick="show({{matchid}});">
        <div>{{relativeTime}}</div>
        <div>{{venue}}</div>
        <div class="zci-cricket-team-expanded">
            <div>
                {{#if this.teams.0.logo}}
                    <img class="zci-cricket-team-expanded-logo"
                         src="{{this.teams.0.logo}}"
                         alt="team logo">
                {{/if}}
                <span class="">
                    {{this.teams.0.Team}}
                </span>
            </div>
            <div>
                {{#if this.teams.1.logo}}
                    <img class="zci-cricket-team-expanded-logo"
                         src="{{this.teams.1.logo}}"
                         alt="team logo">
                {{/if}}
                <span class="">
                    {{this.teams.1.Team}}
                </span>
            </div>
        </div>
        <div class="zci-cricket-team-expanded">
            <div>
                <span class="score-{{this.teams.0.teamid}}">{{this.teams.0.score}}</span>
            </div>
            <div>
                <span class="score-{{this.teams.1.teamid}}">{{this.teams.1.score}}</span>
            </div>
        </div>
        {{#if winnerln}}
            <div class="zci-cricket-match-result">
                <div>
                    <span>{{winnerln}} won by {{result.by}} {{result.how}}</span>
                </div>
            </div>
        {{/if}}
    </div>
</div>
