<div class="card">
    <div class="zci-cricket-score-head">
        <span class="zci-cricket-score-head-date" style="float: left;">{{date}}</span>
        <span style="float: right; text-transform: capitalize;">{{matchNo}}</span>
        <!--<span style="float: right;">{{startTime}}</span>-->
    </div>
    <div class="zci-cricket-content {{matchid}}" onclick="show({{matchid}});">
        <span>{{mtype}}</span>
        <span class="zci-cricket-team">
                <span>
                    <img class="zci-cricket-team-logo" src="share/spice/cricket/img.png" alt="team logo">
                    <span class="zci-cricket-team-name">{{this.teams.0.Team}}</span>
                </span>
                <span>
                    <img class="zci-cricket-team-logo" src="share/spice/cricket/img.png" alt="team logo">
                    <span class="zci-cricket-team-name">{{this.teams.1.Team}}</span>
                </span>
        </span>
        <span>{{this.startTime}}</span>
    </div>
    <div class="zci-cricket-match zci-cricket-inactive" id="{{matchid}}">
        <div>{{relativeTime}}</div>
        <div>{{venue}}</div>
    </div>
</div>
