<div class="card" id="{{matchid}}">
    {{{include 'DDH.cricket.score_head'}}}
    <div class="zci--cricket-content {{matchid}}" onclick="show({{matchid}});">
        <!--<span class="pull-left">{{mtype}}</span>-->
        {{#each teams}}
            <div class="zci--cricket-team">
                {{{include 'DDH.cricket.team_name'}}}
                {{{include 'DDH.cricket.match_details'}}}
            </div>
        {{/each}}
    </div>
    <div class="c-score__foot">
        <div class="c-score__foot__main">
            <div class="">@ {{venue}}
                <span class="c-score__venue__name"> - {{startTime}}</span>
            </div>
            <div class="">{{startTime}}</div>
            <div class="c-score__foot__more  c-score__opt">
                {{#if is_playing}}
                    <span class="c-score__foot__info">{{textLastUpdate}}</span>
                {{/if}}
            </div>
        </div>
    </div>
    <!--{{{include 'DDH.cricket.match_details'}}}-->
</div>
<!--<span class="tile__expand-icon  ddgsi  c-score__foot-icon"></span>-->