<div>
    <b>{{{airline_status airportTimezone isDeparted}}}</b> {{relative airportTimezone isDeparted}}
</div>
<div><a href="http://www.flightstats.com/go/Airport/airportDetails.do?airport={{airport.AirportCode}}">{{airportName airport.Name}} ({{airport.AirportCode}})</a></div>
<div>Terminal {{terminal}}, Gate {{gate}}</div>
<div>{{airline_time isDeparted}}</div>

