<div class="nrft-holder">
    {{#each}}
        <div class="nrft">
            <div>
                <b>{{{status airportTimezone true}}}</b> {{relative airportTimezone true}}
            </div>
            <div><a href="http://www.flightstats.com/go/Airport/airportDetails.do?airport={{airport.AirportCode}}">{{airportName airport.Name}} ({{airport.AirportCode}})</a></div>
            <div>Terminal {{checkTerminal terminal}}, Gate {{checkGate gate}}</div>
            <div>{{time true}}</div>
        </div>
    {{/each}}
</div>
<div style="clear: both;"></div>
