{{#with flight}}
    <div class="nrft-holder">
        <div class="nrft">
            <div>
                <div>
                    <b>{{{status ActualRunwayDepartureDate PublishedDepartureDate DepartureAirportTimeZoneOffset true}}}</b> in
                    {{relative ActualRunwayDepartureDate PublishedDepartureDate DepartureAirportTimeZoneOffset}}
                </div>
                <div><a href="http://www.flightstats.com/go/Airport/airportDetails.do?airport={{Origin.AirportCode}}">{{airportName Origin.Name}} ({{Origin.AirportCode}})</a></div>
                <div>Terminal {{DepartureTerminal}}, Gate {{checkGate DepartureGate}}</div>
                <div>{{time ActualRunwayDepartureDate PublishedDepartureDate}}</div>
            </div>
        </div>
        <div class="nrft">
            <div>
                <div>
                    <b>{{{status ActualRunwayArrivalDate PublishedArrivalDate ArrivalAirportTimeZoneOffset false}}}</b> in
                    {{relative ActualRunwayArrivalDate PublishedArrivalDate ArrivalAirportTimeZoneOffset}}
                </div>
                <div><a href="http://www.flightstats.com/go/Airport/airportDetails.do?airport={{Destination.AirportCode}}">{{airportName Destination.Name}} ({{Destination.AirportCode}})</a></div>
                <div>Terminal {{ArrivalTerminal}}, Gate {{checkGate ArrivalGate}}</div>
                <div>{{time ActualRunwayArrivalDate PublishedArrivalDate}}</div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
{{/with}}