<div class="text-center">
	<div class="tx-clr--dk couprex__title">
		<span class="couprex__number">{{number}}</span>
		<span class="couprex__symbol tx-clr-dk">{{symbol}}</span>
	</div>

	<div class="tx--14 couprex__description">
		<p>{{condense description maxlen="60" truncation="..."}}</p>
	</div>

	<div class="couprex__image">
		<!-- <img src="{{imageProxy image}}"> -->
		<div class="text--secondary">{{brand}}</div>
	</div>
</div>
