<div class='image-holder'>
  <img src="{{imageProxy provider_format_logos.dark}}" alt="{{provider_format_name}}" />
</div>

<div class='data'>

  {{#gwi_ifHasBothBuyAndRent buy_line rent_line }}
    <div class="left">
      Rent from<br><span class='price'>{{gwi_price rent_line}}</span>
    </div>

    <div class="right">
      Buy from<br><span class='price'>{{gwi_price buy_line}}</span>
    </div>
  {{else}}
    {{#buyOrRent buy_line rent_line}}
        {{#gwi_ifHasPrice buy_line}}
            <div class="single">
                Buy from<br><span class='price'>{{gwi_price buy_line}}</span>
            </div>
        {{else}}
            <div class="single">
                <span class="price gwi-price--subscription">{{buy_line}}</span>
            </div>
        {{/gwi_ifHasPrice}}        
    {{/buyOrRent}}
  {{/gwi_ifHasBothBuyAndRent}}
</div>

<div class="{{gwi_footerClass buy_line rent_line}}">
  {{format_line}}
</div>
