<div class='image-holder'>
  <img src="{{provider_format_logos.dark}}" alt="{{provider_format_name}}" />
</div>

<div class='data'>

  {{#go_watch_it_ifHasBothBuyAndRent buy_line rent_line }}
    <div class="left">
      Rent from<br><span class='price'>{{go_watch_it_price rent_line}}</span>
    </div>

    <div class="right">
      Buy from<br><span class='price'>{{go_watch_it_price buy_line}}</span>
    </div>
  {{else}}

    {{#go_watch_it_ifExists buy_line }}

      {{#go_watch_it_ifHasPrice buy_line}}
        <div class="single">
          Buy from<br><span class='price'>{{go_watch_it_price buy_line}}</span>
        </div>
      {{else}}
        <div class="single">
          <span class="price">{{buy_line}}</span>
        </div>
      {{/go_watch_it_ifHasPrice}}

    {{else}}

      {{#go_watch_it_ifExists rent_line}}

        {{#go_watch_it_ifHasPrice rent_line}}
          <div class="single">
            Rent from<br><span class='price'>{{go_watch_it_price rent_line}}</span>
          </div>
        {{else}}
          <div class="single">
            <span class="price">{{rent_line}}</span>
          </div>
        {{/go_watch_it_ifHasPrice}}
      {{/go_watch_it_ifExists}}
    {{/go_watch_it_ifExists}}

  {{/go_watch_it_ifHasBothBuyAndRent}}

</div>

<div class="{{go_watch_it_footerClass buy_line rent_line}}">
  {{format_line}}
</div>
