<div class="tile__heading">
  <div class="tile__date">
    <div class="tile__week">{{departing.weekday}}</div>
    <div class="tile__day">{{departing.day}}</div>
  </div>
  <h5 class="tile__flightID">
    {{airlineName}} {{flightNumber}}
  </h5>
  <div class="tile__airports">
    {{departing.airport}} to {{arriving.airport}}
  </div>
  <div>
    <span class="tile__status">
      {{{status flight departureDate arrivalDate}}}
    </span>
  </div>
</div>
<div class="half">
  <div class="tile__schedule">Scheduled Departure: {{airline_time departing.isDeparted scheduledArrivalDate scheduledDepartureDate}}</div>
  <div class="tile__time">{{airline_time departing.isDeparted arrivalDate departureDate}}</div>
  <div>Gate {{{departing.gate}}} - Terminal {{{departing.terminal}}}</div>
</div>
<div class="half">
  <div class="tile__schedule">Scheduled Arrival: {{airline_time arriving.isDeparted scheduledArrivalDate scheduledDepartureDate}}</div>
  <div class="tile__time">{{airline_time arriving.isDeparted arrivalDate departureDate}}</div>
  <div>Gate {{{arriving.gate}}} - Terminal {{{arriving.terminal}}}</div>
</div>