<div class="tile__heading {{#if has_landed}}tile__landed{{/if}}">
  <div class="tile__date text--secondary">
    <div class="tile__week">{{airlineName}} {{flightNumber}}</div>
    <div class="tile__day">{{departing.departureDateF}}</div>
  </div>
  <div class="tile__flightID text--primary">
    {{departing.airport.fs}} to {{arriving.airport.fs}}
  </div>
  <div class="tx-clr--dk2">
    <span class="tile__status tile__{{is_on_time}}">
      {{status}}
    </span> &ndash; {{status_text}} {{datetime}}
  </div>
</div>

<div class="progress__bar">
	<div class="progress__complete {{is_on_time}}" style="width: {{progress_percent}}%;"></div>
    {{#if has_arrived}}
        <!-- progress dot not displayed -->
    {{else}}
	    <div class="dot {{is_on_time}}" style="left: {{progress_percent}}%;"></div>
    {{/if}}
</div>

<div class="tile__departure">
	<table>
	<tr class="tx-clr--lt">
		<td>DEPARTURE</td>
		<td>SCHEDULED</td>
		<td>GATE</td>
		<td>TERMINAL</td>
	</tr>
	<tr class="text--primary">
		<td>{{departing.location}}</td>
		<td>{{scheduled_depart}}</td>
		<td>{{departing.gate}}</td>
		<td>{{departing.terminal}}</td>
	</tr>
	<tr>
		<td colspan="4"><hr class="divider"></td>
	</tr>
	<tr class="tx-clr--lt">
		<td>DEPARTURE</td>
		<td>SCHEDULED</td>
		<td>GATE</td>
		<td>TERMINAL</td>
	</tr>
	<tr class="text--primary">
		<td>{{arriving.location}}</td>
		<td>{{scheduled_arrival}}</td>
		<td>{{arriving.gate}}</td>
		<td>{{arriving.terminal}}</td>
	</tr>
	</table>
</div>

