<div class="tile__heading">
  <div class="tile__date text--secondary">
    <div class="tile__week">{{airlineName}} {{flightNumber}}</div>
    <div class="tile__day">{{departing.departureDateF}}</div>
  </div>
  <div class="tile__flightID text--primary">
    {{departing.airport.fs}} to {{arriving.airport.fs}}
  </div>
  <div class="tx-clr--dk2">
    <span class="tile__status {{#if is_on_time}}tile__ok{{else}}tile__not{{/if}}">
      {{status}}
    </span> - {{status_text}} {{datetime}}
  </div>
</div>
<hr class="divider__active">
<div class="tile__departure">
  <div class="thirty tile__city">
      <div class="tx-clr--lt">DEPARTURE</div>
      <div class="text--primary">{{departing.location}}</div>
  </div>
  <div class="thirty tile__scheduled">
      <div class="tx-clr--lt">SCHEDULED</div>
      <div class="text--primary">{{scheduled_depart}}</div>
  </div>
  <div class="ten tile__gate">
      <div class="tx-clr--lt">GATE</div>
      <div class="text--primary">{{departing.gate}}</div>
  </div>
  <div class="twenty tile__terminal">
      <div class="tx-clr--lt">TERMINAL</div>
      <div class="text--primary">{{departing.terminal}}</div>
  </div>
</div>
<div class="clearfix"></div>
<hr class="divider__inactive">
<div class="tile__arrival">
  <div class="thirty tile__city">
      <div class="tx-clr--lt">DEPARTURE</div>
      <div class="text--primary">{{arriving.location}}</div>
  </div>
  <div class="thirty tile__scheduled">
      <div class="tx-clr--lt">SCHEDULED</div>
      <div class="text--primary">{{scheduled_arrival}}</div>
  </div>
  <div class="ten tile__gate">
      <div class="tx-clr--lt">GATE</div>
      <div class="text--primary">{{arriving.gate}}</div>
  </div>
  <div class="twenty tile__terminal">
      <div class="tx-clr--lt">TERMINAL</div>
      <div class="text--primary">{{arriving.terminal}}</div>
  </div>
</div>
