<div>
	<img class="book-cover" href="{{url}}" src="{{cover.small}}">
</div>
<div>
	<span class="title">
		{title}}
	</span>
</div>
<div>
	<span class="details">
		{{authors.[0].name}} &middot; {{publishers.[0].name}} ({{publish_date}})
	</span>
</div>
<a class="zci__more-at" href="{{url}}">
	More at Open Library
</a>
