<div>
	<img style="float:left; display:inline; padding-top:0.25em; padding-right:1em; outline:none;" href="{{url}}"src="{{cover.small}}">
</div>
<div>
	<span style="font-size: 1.2em; font-weight:300;">
		{title}}
	</span>
</div>
<div>
	<span style="font-weight:300;">
		{{authors.[0].name}} &middot; {{publishers.[0].name}} ({{publish_date}})
	</span>
</div>
<a class="zci__more-at" href="{{url}}">
	More at Open Library
</a>
