<span class="detail__price price">{{publisher}}</span>
{{#if year}}
    <span class="detail__sep"></span>
    <span class="detail__brand">{{year}}</span>
{{/if}}
{{#if pages}}
    <p class="detail__rating">
        <span class="review-count">{{pages}} pages</span>
    </p>
{{/if}}
{{#if abstract}}
    <p class="detail__desc">{{abstract}}</p>
{{/if}}
<span class="detail__callout--pr"><a href="{{url}}" class="btn btn--primary">More at Amazon</a></span>
