<h4>
    {{name}} 
</h4>
<h5>
	<div>{{description}}</div>
</h5>
<div style="overflow: hidden; position: absolute; right:-50%; top:-8%; width:200px;">

	<img src="http://api.mtgdb.info/content/card_images/{{id}}.jpeg">

</div>
(Power: {{power}} | Toughness: {{toughness}})<br>
Type: {{type}} <br>
Mana Cost: {{manaCost}} <br>
Rarity: {{rarity}} <br>
Set Name: {{cardSetName}}<br><br>
{{flavor}}

