<h1 class="zci__header">
    <a href="{{url}}" title="{{urlTitle}}">
        {{header}}
    </a>
</h1>
<div class="zci__subheader">
    {{subheader}} as of {{to_date}}
</div>
<div>
    <div class="values change-{{changeDirection}}">
        <span class="value text--primary">{{value}}</span>
        <span class="percent">{{change_percent}}%</span>
    </div>
</div>