<div id="quandl">
    <h1 class="quandl-header zci__header">
        <a href="{{url}}" title="{{urlTitle}}">
            {{header}}
        </a>
    </h1>
    <div class="quandl-date zci__subheader">
        <span>{{subheader}} as of {{to_date}}</span>
    </div>
    <div>
        <div class="quandl-values  quandl-change-{{changeDirection}}">
            <span class="quandl-value text--primary">{{value}}</span>
            <span class="quandl-percent">{{change_percent}}%</span>
        </div>
    </div>
</div>