<div>
	<a href="{{links.alternate}}">
		<b>{{title}}</b>
	</a>
	<span class="metadata">{{{star_rating ratings.critics_score}}} ({{checkRating ratings.critics_rating}}{{checkScore ratings.critics_score}})</span>
</div>
<div class="metadata">{{mpaa_rating}} {{time runtime}}</div>
<div>{{{condense synopsis maxlen="200"}}}</div>
