<div>
	<a href="{{links.alternate}}">
		<b>{{title}}</b>
	</a>
</div>
<div>{{{condense synopsis maxlen="200"}}}</div>
<div class="metadata">{{mpaa_rating}} {{time runtime}}</div>
<div class="metadata">{{{star_rating ratings.critics_score}}} ({{checkRating ratings.critics_rating}} - {{ratings.critics_score}}%)</div>
