<div>
    <ul class="showing">
        {{#each this.movies}}
            <li>
                <a class="movie" data-image="{{posters.thumbnail}}" href="{{links.alternate}}">{{title}}
                    <span class="metadata">({{mpaa_rating}}  -  {{time runtime}}) {{ratings.critics_rating}} {{ratings.critics_score}}%</span>
                </a>
            </li>
        {{/each}}
    </ul>
</div>