{{#if ratings.critics_rating}}
  <span class="copyright">
      Rotten Tomatoes<sup>&#169;</sup> Score
  </span>
  <br>
  <span class="in_theaters--critics_score text--primary">
      <img src="{{icon_image}}" class="{{is_retina}} tomato--icon">
      {{ratings.critics_score}}% {{ratings.critics_rating}}
  </span>
  <br>
{{/if}}

<span class="in_theaters--runtime">
  {{#if runtime}}
    <span>Run Time: {{InTheaters_time runtime}}</span>
  {{/if}}
  {{#and runtime mpaa_rating}}
    <span class="sep"></span>
  {{/and}}
  {{#if mpaa_rating}}
    <span>{{mpaa_rating}}</span>
  {{/if}}
</span>

