<div class="container-fluid">
	<p>
		Energy efficiency score: 
		<a href="{{{source_url}}}">{{{score}}}</a> (out of 100) - Average lifetime energy cost: ${{{electricity}}}
	</p>
	<p>
		<a href="{{{category_url}}}">Compare all {{{category_name}}}s</a>
	</p>
</div>
