<div class="opennic__list">
    <div class="opennic__subblocks opennic__ip"> {{ip}} </div>
    <div class="opennic__subblocks opennic__km"> {{#ifunit}} {{miles}} miles {{else}} {{kilometers}} km {{/ifunit}} </div>
    <div class="opennic__subblocks opennic__stat"> {{stat}} % reliab. </div>
    <div class="opennic__subblocks opennic__loc"> {{loc}} </div>
</div>