<div class="tile--gfy_cat">
<div>
    <h6>
        {{title}}
    </h6>
</div>
<div class="tile--gfy_cat__section">
    <div>
        Views: {{views}}
    </div>
    <div>
        Link Name: {{name}}
    </div>
    <div>
        Author: {{author}}
    </div>
    <div class="tile--gfy_cat__rating">
        <div class="tile--gfy_cat__rating_text">
            <small>
                Rating
            </small>
        </div>
        <div class="tile--gfy_cat__rating_background">
            <table class="tile--gfy_cat__rating_likes" width="{{ratingPercent}}%"></table>
        </div>
    </div>
</div>
