<div>
{{#if domainAvailable}}
    {{! The domain name can registered through Namecheap. }}
    The domain '<strong>{{domainName}}</strong>' may be available!
    You can visit <a href="https://www.namecheap.com/domains/registration/results.aspx?domain={{domainName}}">Namecheap</a> to register the domain.
{{else}}
    {{! The domain name can be obtained through DomainAgents. }}
    The domain '<strong>{{domainName}}</strong>' is not available.
    You can visit <a href="https://domainagents.com/affiliate.php?domain={{domainName}}&code=nc" target="_blank">DomainAgents</a> to negotiate the domain from a seller.
{{/if}}
<br />
</div>