<div class = "laureates">
    {{#each laureate_info.laureates }}
        
        <div class="zci is-active">
            <h3 class="zci__header has-sub">{{this.name}}
                <span class="zci__header__sub">
                    <b>
                        {{#if this.bornOn}} {{this.bornOn}} {{/if}}
                        {{#if this.diedOn}} - {{this.diedOn}} {{/if}}
                    </b>
                    
                    {{#if this.bornCity }}
                        <span class="sep"></span>
                        From: <b>{{this.bornCity}}, {{this.bornCountry}}</b>
                    {{/if}}
                    
                    {{#if this.share}}
                        <span class="sep"></span>
                        Share: <b>1 / {{this.share}}</b>
                    {{/if}}
                </span>
            </h3>
            
	        <div class="zci__content">{{this.motivation}}</div>
        </div>

</div>
        
        
    {{/each}}