<div class="tile  tile--c  tile--github-jobs">
    <div class="tile__body">
        <h5 class="tile__title">{{title}}</h5>
        <p class="tile__location">{{ellipsis location 30}}</p>
        <a class="tile__company" href="{{url}}">
            {{#if company_url}}
                <img src="{{getIcon company_url}}" class="tile__favicon" />
            {{/if}}
            <span class="tile__company">{{ellipsis company 30}}</span>
        </a>
    </div>
</div>
