<span class='espn_zci_tab_link espn_zci_tab_selected' id='espn_zci_news_link'>News</span> |
<span class='espn_zci_tab_link' id='espn_zci_stats_link'>Stats</span> |
<span class='espn_zci_tab_link' id='espn_zci_gamelog_link'>Gamelog</span>

<div class='espn_zci_tab' style='display:block' id='espn_zci_news'>
    <img src='/iu?u={{headshot}}' id='espn_news_image'>
    <div class='blurb'>
        {{name}} is a professional golfer (PGA).
    </div>
    <ul>
        {{#each headline}}
        <li><a href='{{links.web.href}}'>{{headline}}</a> ({{source}})</li>
        {{/each}}
    </ul>
</div>

<div class='espn_zci_tab' id='espn_zci_stats'>
    <div class='blurb'>
        {{name}} {{seasonTimeFrame}} {{seasonDescription}} season statistics:
    </div>
    <table>
        <tr><th>Wins:</th><td>{{wins}}</td></tr>
        <tr><th>Top ten finishes:</th><td>{{topTenFinishes}}</td></tr>
        <tr><th>Tournaments played:</th><td>{{tournamentsPlayed}}</td></tr>
        <tr><th>Cup points</th><td>{{cupPoints}}</td></tr>
    </table>
</div>

<div class='espn_zci_tab' id='espn_zci_gamelog'>
    <div class='blurb'>
        {{name}} has recently played in these tournaments:
    </div>
    <div id='espn_zci_gamelog_wrapper'>
        <table>
            <th></th><th>Competition</th><th>Placed</th>
            {{#each events}}
            <tr>
                <td>{{date}}</td>
                <td>{{name}}</td>
                <td>
                    {{#if win}}<span style='color:green'>{{/if}}
                    {{place}}
                    {{#if win}}</span>{{/if}}
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
