<img src="{{smallIcon}}">
<span><i><b>Course Name:</b></i> <p>{{name}}</p></span><br>
<i><b>Description:</b></i> <p>{{shortDescription}}</p><br>
<i><b>Instructor:</b></i> <p>{{instructor}}</p><br>
More At: <a href="https://www.coursera.org/course/{{shortName}}">https://www.coursera.org/course/{{shortName}}</a>
