<li class="ddgc_item" id="{{engine}}-{{id}}">
    <h1 class="title"><a href="{{url}}">{{name}}</a></h1>
    <div class="right">
        {{#if rating}}<img src="/iu/?u={{rating}}">{{/if}}
        {{#if image}}<img src="/iu/?u={{image}}">{{/if}}
    </div>
    <div class="details">
        {{address}}<br>
        {{#if phone}}({{phone}}){{/if}}
    </div>
    <div class="reviews">
        {{#if reviews}}{{reviews.[0]}}{{/if}}
    </div>
</li>
