<li class="ddgc_item" id="{{index}}">
    <div style="vertical-align:middle">
    <h1 class="title"><a href="{{url}}">{{name}}</a></h1>
    <div class="right">
        {{#if rating}}<img src="/iu/?u={{rating}}">{{/if}}
        {{#if image}}<img src="/iu/?u={{image}}">{{/if}}
    </div>
    <div class="details">
        {{address}}<br>
        {{#if phone}}({{phone}}){{/if}}
    </div>
    <div class="reviews">
        {{#if reviews}}{{reviews}}{{else}}No reviews.{{/if}}
    </div>
    </div>
</li>
