{{#if isPair}}
    <div class="zci__main">
        <div class="zci__body">
            <div class="text--secondary">Mid-Market Rates: {{xeDate}} at {{xeTime}} UTC</div>

            <div class="zci--currency-result" data-link="{{xeUrl}}">
                <section class="zci--currency-first-part">
                    <img src="{{fromFlag}}" alt="Flag of {{fromCurrencySymbol}}">
                    <span class="zci--currency-amount text--primary" data-original="{{from-amount}}" data-processed="{{amount}}">{{amount}}</span>
                    <div class="zci--currency-symbol">{{fromCurrencySymbol}}</div>
                </section>
                
                <span class="zci--currency-equal">=</span>
                
                <section class="zci--currency-second-part">
                    <img src="{{toFlag}}" class="flag" alt="Flag of {{toCurrencySymbol}}">
                    <span class="zci--currency-amount text--primary" data-original="{{converted-amount}}" data-processed="{{convertedAmount}}">{{convertedAmount}}</span>
                    <div class="zci--currency-symbol">{{toCurrencySymbol}}</div>
                </section>
            </div>

            <div class="zci--currency-ratesinfo">
                <div>{{rate}}</div>
                <div>{{inverseRate}}</div> 
            </div>

            <div class="clear"></div>
            <a href="http://www.xe.com/currencyconverter/convert/?Amount={{from-amount}}&From={{fromCurrencySymbol}}&To={{toCurrencySymbol}}" class="zci__more-at"><img class="zci__more-at__icon" src="//images.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.xe.com%2Ffavicon.ico&amp;f=1">More at xe.com</a>
        </div>
    </div>
{{else}}
    <div class="tile__media">
        <img src="{{toFlag}}" alt="Flag of {{fromCurrencySymbol}}">
    </div>
    <div class="zci--currency-tile-content">
        <div class="zci--currency-tile-symbol">{{toCurrencySymbol}}</div>
        <div class="zci--currency-tile-amount">{{amountRound convertedAmount}}</div>
        <div class="zci--currency-tile-rate">{{rate}}</div>
    </div>
{{/if}}




