{{#if isPair}}
    <div class="text--secondary">Mid-Market Rates: {{xeDate}} at {{xeTime}} UTC</div>

    <div class="zci--currency-result" data-link="{{xeUrl}}">
        <img src="{{fromFlag}}" alt="Flag of {{fromCurrencySymbol}}">
        <span class="zci--currency-amount text--primary">{{amountRound amount}}</span>
        <div class="zci--currency-symbol">{{fromCurrencySymbol}}</div>
        <span class="zci--currency-equal">=</span>          
        <img src="{{toFlag}}" class="flag" alt="Flag of {{toCurrencySymbol}}">
        <span class="zci--currency-amount text--primary">{{amountRound convertedAmount}}</span>
        <div class="zci--currency-symbol">{{toCurrencySymbol}}</div>         
    </div>
    
    <div class="zci--currency-ratesinfo">
        <div>{{rate}}</div>
        <div>{{inverseRate}}</div> 
    </div>

    <div class="clear"></div>
{{else}}
    <div class="tile__media">
        <img src="{{toFlag}}" alt="Flag of {{fromCurrencySymbol}}">
    </div>
    <div class="zci--currency-tile-content">
        <div class="zci--currency-tile-symbol">{{toCurrencySymbol}}</div>
        <div class="zci--currency-tile-amount">{{amountRound convertedAmount}}</div>
        <div class="zci--currency-tile-rate">{{rate}}</div>
    </div>
{{/if}}




