{{#if isPair}}
         <div class="tile tile--s" data-link="{{xeUrl}}">
            <div class="zci--currency-main-convert" style="min-width:20em; height:115px;">
                <img class="zci--currency-flag-img zci--currency-left" src="{{{imageProxy fromFlag}}}" alt="Flag of {{fromCurrencySymbol}}" /></img>
                <img class="zci--currency-flag-img" src="{{imageProxy toFlag}}" class="flag" alt="Flag of {{toCurrencySymbol}}" /></img>
                <span class="zci--currency-amount" style="font-size:{{amountFontSize rate}}em;">{{amount}} {{fromCurrencySymbol}} = {{convertedAmount}} {{toCurrencySymbol}}</span>
                <span class="zci--currency-chart-link">View  Chart</span>
                <span class="zci--currency-main-convert-rate" >{{rate}}</span>
            </div>  
    </div>

{{else}}{{#if isSingle}}
     <div class="tile tile--s" data-link="{{xeUrl}}">
        <div class="zci--currency-main-convert"  style="min-width:15em; height:115px;">
            <img class="zci--currency-flag-img zci--currency-left" src="{{imageProxy fromFlag}}" alt="Flag of {{fromCurrencySymbol}}" /></img>
            <span class="zci--currency-amount" style="font-size:{{amountFontSize amount}}em;">{{amount}} {{fromCurrencySymbol}} </span>
            <span class="zci--currency-chart-link">View  Chart</span>
            <span class="zci--currency-main-convert-rate">{{rate}}</span>
        </div>
       </div>
{{else}}    
     <div class="tile tile--s" data-link="{{xeUrl}}">
        <div class="zci--currency-top-convert" style="min-width:13em; height:115px;">
            <img class="zci--currency-flag-img" src="{{imageProxy toFlag}}" alt="Flag of {{toCurrencySymbol}}" /></img>
            <span class="zci--currency-amount" style="font-size:{{amountFontSize convertedAmount}}em;">{{amountRound convertedAmount}}</span>
            <span class="zci--currency-left"> {{toCurrencySymbol}}</span>    
            <span class="zci--currency-top-convert-rate">{{rate}}</span>
        </div>
    </div>
  
{{/if}}
{{/if}}




