<div class="zci__main">
    <div class="zci__body">
        <div class="text--secondary">Mid-Market Rates: {{xeDate}} at {{xeTime}} UTC</div>

        <div class="zci--currency-container">
            <div class="zci--currency-result" data-link="{{xeUrl}}">
                <div class="zci--currency-group">
                    <section class="zci--currency-first-part">
                        <img src="{{fromFlag}}" class="flag-img" alt="Flag of {{fromCurrencySymbol}}">
                        <span class="zci--currency-amount text--primary" data-original="{{from-amount}}" data-processed="{{amount}}">{{amount}}</span>
                        <span class="zci--currency-symbol">{{fromCurrencySymbol}}</span>
                    </section>

                    <span class="zci--currency-equal">=</span>
                </div>

                <section class="zci--currency-second-part">
                    <img src="{{toFlag}}" class="flag-img" alt="Flag of {{toCurrencySymbol}}">
                    <span class="zci--currency-amount text--primary" data-original="{{converted-amount}}" data-processed="{{convertedAmount}}">{{convertedAmount}}</span>
                    <span class="zci--currency-symbol">{{toCurrencySymbol}}</span>
                </section>
            </div>
                

            <div class="zci--currency-ratesinfo">
                <div>{{rate}}</div>
                <div>{{inverseRate}}</div> 
            </div>
        </div>

        <div class="clear"></div>
        <a href="http://www.xe.com/currencyconverter/convert/?Amount={{from-amount}}&From={{fromCurrencySymbol}}&To={{toCurrencySymbol}}" class="zci__more-at"><img class="zci__more-at__icon" src="{{ imageProxy moreAtIcon }}">More at xe.com</a>
        <a href="http://www.xe.com/currencycharts/?from={{fromCurrencySymbol}}&to={{toCurrencySymbol}}" class="zci__more-at--info">
            <span class="zcm__sep"></span>  
            View Chart
        </a>
    </div>
</div>