<div class="market-rates text--secondary">{{xeDate}} at {{xeTime}} UTC</div>

<div class="metabar__more-at custom">
    <a href="http://www.xe.com/currencyconverter/convert/?Amount={{from-amount}}&From={{fromCurrencySymbol}}&To={{toCurrencySymbol}}" class="zci__more-at"><img class="zci__more-at__icon" src="{{ imageProxy moreAtIcon }}">xe.com
    </a>
</div>

<div class="clear"></div>

<a class="tile tile--s small" href="http://www.xe.com/currencycharts/?from={{fromCurrencySymbol}}&to={{toCurrencySymbol}}">
    <div class="zci--currency-first-part tx-clr--dk">
        <img class="flag-img" src="{{fromFlag}}" alt="Flag of {{fromCurrencySymbol}}">
        <span class="zci--currency-symbol-large">{{fromCurrencySymbol}}</span>
        <span class="zci--currency-amount" data-original="{{from-amount}}" data-processed="{{amount}}">{{amount}}</span>
        <span class="zci--currency-symbol-small">{{fromCurrencySymbol}}</span>
    </div>
    
    <div class="zci--currency-equal tx-clr--dk">
        <span class="horizontal"></span>
        <span class="equal">=</span>
        <span class="horizontal"></span>
    </div>
    
    <div class="zci--currency-second-part tx-clr--dk">
        <img class="flag-img" src="{{toFlag}}" alt="Flag of {{toCurrencySymbol}}">
        <span class="zci--currency-symbol-large">{{toCurrencySymbol}}</span>
        <span class="zci--currency-amount" data-original="{{converted-amount}}" data-processed="{{convertedAmount}}">{{convertedAmount}}</span>
        <span class="zci--currency-symbol-small">{{toCurrencySymbol}}</span>
    </div>
</a>

<div class="zci--currency-ratesinfo-mobile text--secondary">
    <div>{{rate}}</div>
    <span class="horizontal"></span>
    <div>{{inverseRate}}</div> 
</div>