<div class="tile tile--s tile--c" data-link="{{xeUrl}}">
    <div class="tile__view">
        <span class="btn--container">
            <a class="ddgsi btn btn--lite" href="/?q=1+{{toCurrencySymbol}}">↩</a>
        </span>
        <img src="{{toFlag}}" alt="Flag of {{toCurrencySymbol}}">
        <div class="currency--symbol">{{toCurrencySymbol}}</div>
        <div class="currency--amount one-line">{{convertedAmount}}</div>
        <div class="one-line currency--rate {{#unless initial}}rate--gray{{/unless}}">{{#if initial}}{{currencyName}}{{else}}{{rate}}{{/if}}</div>
    </div>
</div>
