<div class="tile tile--s" data-link="{{xeUrl}}">
    <div class="tile__view">
        <img src="{{toFlag}}" alt="Flag of {{fromCurrencySymbol}}">
        <div class="currency--symbol">{{toCurrencySymbol}}</div>
        <div class="currency--amount">{{convertedAmount}}</div>
        <div class="currency--rate">{{rate}}</div>
    </div>
</div>