<img src="//cdn.dogomedia.com/assets/dogomovies-6959aaba3ab072822498c8e557a0c19a.png" alt="DOGOmovies"/>
<br/>
{{{starRating ratings.score}}}<span class="dogo-badge dogo-badge-info">{{ratings.count}} ratings</span>
<span class="dogo-badge dogo-badge-success">{{comments_count}} reviews</span>
<br/>
<span class="movie--runtime">
    {{#if runtime}}
    <span>Run Time: {{dogo_movies_convert_minutes_to_hr_min runtime}}</span>
    {{/if}}
    {{#and runtime mpaa}}
    <span class="detail__separator"> | </span>
    {{/and}}
    {{#if mpaa}}
    <img class="mpaa-rating mpaa-{{mpaa}}" src="//cdn.dogomedia.com/assets/movies/mpaa-ratings/mpaa-{{mpaa}}.png" alt="Rated {{mpaaText}}" title="Rated {{mpaaText}}"/>
    {{/if}}
</span>