{{{starRating ratings.score}}} {{ratings.count}} ratings
<span class="detail__separator"> | </span>
{{comments_count}} reviews
<br/>
<span class="movie--runtime">
    {{#if runtime}}
    <span>Run Time: {{dogo_movies_convert_minutes_to_hr_min runtime}}</span>
    {{/if}}
    {{#and runtime mpaa}}
    <span class="detail__separator"> | </span>
    {{/and}}
    {{#if mpaa}}
    <span>{{mpaaText}}</span>
    {{/if}}
</span>