{{{starRating ratings.score}}}<span class="dogo-badge dogo-badge-info">{{ratings.count}} ratings</span>
<span class="dogo-badge dogo-badge-success">{{comments_count}} reviews</span>
<br/>
<span class="movie--runtime">
    {{#if runtime}}
    <span>Run Time: {{dogo_movies_convert_minutes_to_hr_min runtime}}</span>
    {{/if}}
    {{#and runtime mpaa}}
    <span class="detail__separator"> | </span>
    {{/and}}
    {{#if mpaa}}
    <span>{{mpaaText}}</span>
    {{/if}}
</span>