<div id="coupon_preview" mer="{{merName}}">
    <div class="coupon_code">
        <span>Use code: </span>
        <input id="coupon_code" class="button" readonly="readonly" value="{{code}}">
    </div>
    
    <div class="coupon_info">
        {{merName}}
        <div class="coupon_description">
            <a href="{{displayURL}}">{{{stripExpiry desc}}}</a>
        </div>
        {{#if expire}}
        <div class="coupon_expdate">Expires {{dateString expire}}</div>
        {{/if}}
    </div>
</div>