<div id="coupon_preview" mer="{{merName}}">
    <div class="coupon_code">
        <span>Use code: </span>
        <a class="button" href="{{merUrl}}">{{code}}</a>
    </div>
    
    <div class="coupon_info">
        {{merName}}
        <div class="coupon_name">
            <a href="{{merUrl}}">{{name}}</a>
        </div>
        <div class="coupon_description">
            {{{desc}}}
        </div>
        {{#if expire}}
        <div class="coupon_expdate">Expires {{dateString expire}}</div>
        {{/if}}
    </div>
</div>