<div>
    <a href="{{{recipeLink id title}}}"><b>{{title}}</b></a>
    <div>This recipe can be cooked in <b>{{{tipsAndScores.score_time_text}}}</b>.</div>
    <div>The cost of this recipe is approximately <b>{{{tipsAndScores.score_price_text}}}</b>.</div>
    <div>One serving covers about <b>{{{tipsAndScores.score_healthiness_text}}}</b>.</div>
    <a href="{{{recipeLink id title}}}">More Information about this Recipe</a>
</div>