<div>
    <img class="spotlight" src="/iu/?u={{LargeImage.[@URL]}}">
    <div class="description">
        <h1><a href="{{this.[@DetailPageURL]}}">{{ItemAttributes.[@Title]}}</a></h1>
        <br>
        <span class="price">
            {{OfferSummary.LowestNewPrice.[@FormattedPrice]}}
        </span> &bull;
        by {{ItemAttributes.[@Brand]}} &bull;
        <img class="stars" src="">
        (<a href="{{ItemLink.[5].[@URL]}}"><span class="review-count"></span>
            customer reviews</a>)
        <br>
        <ul>
            {{#each ItemAttributes.Feature}}<li>{{$t}}</li>{{/each}}
        </ul>
        <a href="{{this.[@DetailPageURL]}}">Read More</a>
        <br>
        <a href="{{ItemLink.[0].[@URL]}}"><img src="/iu/?u=https://images-na.ssl-images-amazon.com/images/G/01/associates/remote-buy-box/buy1._V192207739_.gif/"></a>
    </div>
    <div class="clear">&nbsp;</div>
</div>
