<div id="amazon">
    <h1><a href="{{url}}">{{heading}}</a></h1>
    <br>
    <span class="price">{{price}}</span> &bull;
    by {{brand}} &bull;
    <img class="stars" src="{{stars}}">
    (<a href="{{rating}}"><span class="review-count"></span>
        {{reviews}} customer reviews</a>)
    <br>
    {{{abstract}}}
    <br>
</div>
