<div>
    <img class="spotlight" src="/iu/?u={{LargeImage.[@URL]}}">
    <div class="description">
        <h1><a href="{{this.[@DetailPageURL]}}">{{ItemAttributes.[@Title]}}</a></h1>
        <br>
        <span class="price">
            {{OfferSummary.LowestNewPrice.[@FormattedPrice]}}
        </span> &bull;
        {{#if ItemAttributes.[@Brand]}}
            by {{ItemAttributes.[@Brand]}} &bull;
        {{/if}}
        <img class="stars" src="">
        (<a href="{{ItemLink.[5].[@URL]}}"><span class="review-count"></span>
            customer reviews</a>)
        <br>
        <ul>
            {{#each ItemAttributes.Feature to="4"}}<li>{{$t}}</li>{{/each}}
        </ul>
        <a href="{{this.[@DetailPageURL]}}">Read More</a>
        <br>
    </div>
    <div class="clear">&nbsp;</div>
</div>
