<img class="spotlight" src="/iu/?u={{img}}">
<div class="description">
    <h1><a href="{{url}}">{{heading}}</a></h1>
    <br>
    <span class="price">{{price}}</span> &bull;
    by {{brand}} &bull;
    <img class="stars" src="">
    (<a href="{{rating}}"><span class="review-count"></span>
        customer reviews</a>)
    <br>
    {{{abstract}}}
    <br>
</div>
<div class="clear">&nbsp;</div>
