<div>
    <ul class="playlist">
        {{#each this.items}}
            <li>
                <a class="forvo-audio" type="audio/mp3" title="{{original}}" data-stream="{{standard_pronunciation.pathmp3}}">{{original}} <span class="sidenote">({{sex standard_pronunciation.sex}}, {{standard_pronunciation.langname}})</span></a>
            </li>
        {{/each}}
    </ul>
</div>