<div>
    <ul class="playlist">
        {{#if this.isArray}}
            {{#list this.items}}
                <li>
                    <a class="forvo-audio" type="audio/mp3" title="{{original}}" data-stream="{{standard_pronunciation.pathmp3}}">{{original}} <span class="sidenote">({{standard_pronunciation.langname}}{{sex standard_pronunciation.sex}})</span></a>
                </li>
            {{/list}}
        {{else}}
            {{#listObjects this.items this.attributes.total}}
                <li>
                    <a class="forvo-audio" type="audio/mp3" title="{{original}}" data-stream="{{standard_pronunciation.pathmp3}}">{{original}} <span class="sidenote">({{standard_pronunciation.langname}}{{sex standard_pronunciation.sex}})</span></a>
                </li>
            {{/listObjects}}
        {{/if}}
    </ul>
</div>