<a class="forvo-audio" type="audio/mp3" title="{{original}}" data-stream="/audio/?u={{standard_pronunciation.pathmp3}}" id="sound_{{standard_pronunciation.id}}">{{original}}
<span class="sidenote">({{forvo_sex standard_pronunciation.sex}}, {{standard_pronunciation.country}})</span></a>

