{{{include 'play_button' url=standard_pronunciation.proxied_pathmp3}}}
<div class="word-wrap">
    <span class="word text--primary">
        {{original}}
        <span class="lang">
            [<abbr title="{{standard_pronunciation.langname}}">{{standard_pronunciation.code}}</abbr>]
        </span>
    </span>
</div>
<span class="sidenote text--secondary">
    {{forvo_sex standard_pronunciation.sex}}
    {{#and standard_pronunciation.sex standard_pronunciation.country}},{{/and}}
    {{standard_pronunciation.country}} <img class="disc__img" src="{{forvo_icon standard_pronunciation.country_code}}" alt="Flag of {{standard_pronunciation.country}}">
</span>
