{{#if status_code}}
<h5 class="one-line"><a href='http://{{this.domain}}'>{{this.domain}}</a> seems up.</h5>

<p class="response_time one-line"> It took us {{response_time}} seconds to get a <a href='/?q=http+{{response_code}}'>{{response_code}}</a> response from <a href='http://{{response_ip}}'>{{response_ip}}</a>.  </p>
{{else}}
<h5 class="one-line"><a href='http://{{this.domain}}'>{{this.domain}}</a> seems down. </h5>

<p class="response_time one-line"> We did not get a response from it.  </p>
{{/if}}
