{{#if status_code}}
  <a href='http://{{domain}}'>{{domain}}</a> seems <b>up</b>.<br>
  It took us {{response_time}} seconds to get a <a href='/?q=http+{{response_code}}'>{{response_code}}</a> response from <a href='http://{{response_ip}}'>{{response_ip}}</a>.
{{else}}
  <a href='http://{{domain}}'>{{domain}}</a> seems <b> down</b>. We did not get a response from it.
{{/if}}
