<div class="zci__img-wrap">
    <img src="{{imageProxy image}}" alt="{{name}}" class="zci__img" />
</div>
<div class="zci__body">
  <h5 class="zci__header"><a href='{{url}}' title="{{name}}">{{name}}</a></h5>
  <div>
    <p>
      {{ellipsis bio.summary 200}}
    </p>
    <p class="detail__lastfm detail__songs">
      
    </p>
  </div>
</div>