<div class="transit_switzerland__time text--primary">{{departure_time}}</div>
<div class="transit_switzerland__details">
    {{#if cancelled}}N/A{{else}}Arrives {{arrival_time}}{{/if}}<br/>
    {{transfers}}<br/>
    Train {{name}}
</div>
<div class="transit_switzerland__status-sep">
    <div class="transit_switzerland__sep-line"></div>
    <div class="transit_switzerland__badge {{status_class}}"></div>
    <div class="transit_switzerland__sep-line"></div>
</div>
<div class="transit_switzerland__status">
    <div class="one-line">{{status}}</div>
    {{#if platform}}
        <div class="one-line">Platform {{platform}}</div>
    {{else}}
        <div class="one-line tx-clr--lt2">Platform N/A</div>
    {{/if}}
</div>
