<div>
    This text is {{#if first.isReliable}} definitely {{else}} probably {{/if}} {{expandLang first.language}} ({{toPercent first.confidence}}){{#if second}}, but it could also be {{expandLang second.language}} ({{toPercent second.confidence}}){{/if}}.
</div>
