<div id="quixey_preview" style="width: 100%; height: 100%;" app="{{id}}">
    <div class="app_info">
        <a href="{{{url}}}" class="app_icon_anchor">
            <img src="{{{icon_url}}}" class="app_icon">
        </a>
        <div class="name_wrap">
            <a href="{{url}}" class="name" title="{{name}}">{{name}}</a>

            {{#if rating}}
                <div title="{{rating}}" class="rating">
                    {{#loop rating}}
                        <span class="star"></span>
                    {{! else}}
                        {{! <span class="half_star"></span>}}
                    {{/loop}}
                </div>
            {{/if}}
            <div class="price">{{pricerange}}</div>
            <div title="{{{short_desc}}}" class="app_description">{{{short_desc}}}</div>
        </div>
    </div>
    <div id="details_{{id}}" class="app_details">
        <div class="app_editions">
        {{#each editions}}
            <div class="app_edition" title="{{name}} - Rating: {{rating}} - Price: {{price cents}}">
                <a href="{{{url}}}" class="app_edition_icon"><img width="25" height="25" src="{{icon_url}}"></a>
                {{#each platforms}}
                    <a href="{{{../url}}}" class="app_platform"><img src="{{platform_icon icon_url}}" class="platform_icon"><span class="platform_name">{{name}}</span></a>
                {{/each}}
            </div>
        {{/each}}
        </div>
    </div>

    <div class="clear"></div>

</div>

