<img src="{{cached_image_url}}" title="{{name}}" alt="{{name}} at betterific.com" class="tag-img" />
<div class="tag-box">
  <div class="tag-name">
    <a href="{{tagUrl url_params}}" class="link-color-blue">{{name}}</a>
  </div>
  <div class="user-stats">
    <span>{{betterifs_s}}</span>
    <span>{{followers_s}}</span>
  </div>
</div>
<div class="clear-both">&nbsp;</div>
