<div class="obj-wrapper">
  <div class="betterif-name">
    <a href="http://betterific.com/{{dashedS user.username}}/{{dashedS name}}/{{id}}" class="name-text" title="Wouldn't it be better if {{name}}">Wouldn't it be better if {{condense name maxlen="46"}}</a>
  </div>
  <div class="stats">
    <small>
      [{{pluralize upvotes_count "upvote" "upvotes"}}]
      ({{#with this.user}}by <a href="http://betterific.com/innovator/{{dashedS username}}/{{id}}">{{first_name}} {{last_name}}</a>{{/with}})
    </small>
  </div>
  <div class="clear-both">&nbsp;</div>
</div>
