<li>
  <span class="betterif-name">
    <a href="http://betterific.com/{{dashedS user.username}}/{{dashedS name}}/{{id}}" class="name-text" title="Wouldn't it be better if {{name}}">{{condense name maxlen="90"}}</a>
  </span>
  <span class="stats block-stats">
    <small>
      [{{plural upvotes_count singular="upvote" plural="upvotes" formatted="1"}}]
      ({{#with this.user}}by <a href="http://betterific.com/innovator/{{dashedS username}}/{{id}}" title="See more great ideas from {{first_name}} {{last_name}} at http://betterific.com">{{first_name}} {{last_name}}</a>{{/with}})
    </small>
  </span>
  <span class="clear-both">&nbsp;</span>
</li>
