<li>
  <span class="tag-name">
    <a href="http://betterific.com/{{dashedS name}}/{{id}}" title="See more great ideas about {{name}} at http://betterific.com">{{name}}</a>
  </span>
  <span class="stats">
    <small>
      [{{pluralize betterifs_count "betterif" "betterifs"}},
       {{pluralize followers_count "follower" "followers"}}]
    </small>
  </span>
  <span class="clear-both">&nbsp;</span>
</li>
