<li>
  <span class="tag-name">
    <a href="http://betterific.com/{{dashedS name}}/{{id}}" title="See more great ideas about {{name}} at http://betterific.com">{{name}}</a>
  </span>
  <span class="stats">
    <small>
      [{{plural betterifs_count singular="betterif" plural="betterifs" delimeter=","}},
       {{plural followers_count singular="follower" plural="followers" delimeter=","}}]
    </small>
  </span>
  <span class="clear-both">&nbsp;</span>
</li>
