<div class="obj-wrapper">
  <div class="user-username">
    <a href="http://betterific.com/innovator/{{dashedS username}}/{{id}}">{{first_name}} {{last_name}}</a>
  </div>
  <div class="stats">
    <small>
      [{{pluralize betterifs_count "betterif" "betterifs"}},
       {{pluralize followers_count "follower" "followers"}},
       {{pluralize upvotes_given_count "upvote" "upvotes"}} given,
       {{pluralize upvotes_received_count "upvote" "upvotes"}} received]
    </small>
  </div>
  <div class="clear-both">&nbsp;</div>
</div>
