<li>
  <span class="user-username">
    <a href="http://betterific.com/innovator/{{dashedS username}}/{{id}}" title="See great ideas by {{first_name}} {{last_name}} at http://betterific.com">{{first_name}} {{last_name}}</a>
  </span>
  <span class="stats">
    <small>
      [{{plural betterifs_count singular="betterif" plural="betterifs" delimeter=","}},
       {{plural followers_count singular="follower" plural="followers" delimeter=","}},
       {{plural upvotes_given_count singular="upvote" plural="upvotes" delimeter=","}} given,
       {{plural upvotes_received_count singular="upvote" plural="upvotes" delimeter=","}} received]
    </small>
  </span>
  <span class="clear-both">&nbsp;</span>
</li>
