<div class="obj-wrapper">
  <div class="right-box">
    <div class="user-username">
      <a href="{{userUrl this}}">{{first_name}} {{last_name}}</a>
    </div>
    <div class="stats">
      <small>
        <span>{{pluralize betterifs_count "betterif" "betterifs"}}</span>
        <span>{{pluralize followers_count "follower" "followers"}}</span>
        <span>{{pluralize upvotes_given_count "upvote" "upvotes"}} given</span>
        <span>{{pluralize upvotes_received_count "upvote" "upvotes"}} received</span>
      </small>
    </div>
  </div>
  <div class="clear-both">&nbsp;</div>
</div>
