    {{#if party}}
       Party: {{party}}
       <br>
    {{/if}}

    {{#if district}}
       District: {{district}}
       <br>
    {{/if}}

    {{#if term_end}}
        {{congress_get_date term_end}}
    {{/if}}
 	<br>
     {{#if phone}}
       Phone: {{phone}}
    {{/if}}

     
     {{#if contact_form}}
        <br>
            <a class="congress_link" href="{{contact_form}}">Contact Form</a>
        <br>
     {{/if}}
     
    {{#if twitter_id}}
        <a class="congress_link" href="https://www.twitter.com/{{twitter_id}}">@{{twitter_id}}</a>{{#if facebook_id}},{{/if}}
    {{/if}}

    {{#if facebook_id}}
        <a class="congress_link" href="https://www.facebook.com/{{facebook_id}}">Facebook</a>
    {{/if}}
