    {{#if person.link}}
        <a href="{{person.link}}">
    {{else}}
        <a href="/?q={{get_name}}">
    {{/if}}

        {{get_name}} ({{party}})
    
    </a> &mdash;

    {{#if person.twitterid}}
        <a href="https://www.twitter.com/{{person.twitterid}}">@{{person.twitterid}}</a>,
    {{/if}}
    
    {{#if phone}}
        Phone: {{phone}}.
    {{/if}}

