    {{#if govtrack_id}}
        <a href="https://www.govtrack.us/congress/members/{{govtrack_id}}">
    {{else}}
        <a href="/?q={{get_name}}">
    {{/if}}

    {{get_name}} </a> ({{get_party}}){{#if district}},{{else}}{{#if term_end}},{{/if}}{{/if}}

    {{#if district}} 
<<<<<<< HEAD
        District: {{district}}{{#if term_end}} - {{/if}}
=======
        District: {{district}}
>>>>>>> c690109251ce3a80e71141fcbcfd6e42e6a8f448
    {{/if}}
    
    {{#if term_end}}
        {{get_date}}
    {{/if}}
    
     <br>

    {{#if phone}}
<<<<<<< HEAD
        Phone: {{phone}}{{#if twitter_id}}{{else}}{{#if facebook_id}},{{/if}}{{/if}}
    {{/if}}
    
    {{#if twitter_id}}
        <a href="https://www.twitter.com/{{twitter_id}}">@{{twitter_id}}</a>{{#if facebook_id}},{{/if}}
    {{/if}}

    {{#if facebook_id}}
        <a href="https://www.facebook.com/{{facebook_id}}">facebook</a>
=======
        Phone: {{phone}}{{#if twitter_id}},{{/if}}
    {{/if}}
    
    {{#if twitter_id}}
        <a href="https://www.twitter.com/{{twitter_id}}">@{{twitter_id}}</a>
>>>>>>> c690109251ce3a80e71141fcbcfd6e42e6a8f448
    {{/if}}