    {{#if govtrack_id}}
        <a href="https://www.govtrack.us/congress/members/{{govtrack_id}}">
    {{else}}
        <a href="/?q={{get_name}}">
    {{/if}}

        {{get_name}} </a> ({{party}}) {{#if district}} District: {{district}} {{/if}}
        {{#if term_end}} Next election in {{get_date}} {{/if}}
    
     <br>

    &nbsp &nbsp
    {{#if phone}}
        Phone:{{phone}},
    {{/if}}

    {{#if twitter_id}}
        <a href="https://www.twitter.com/{{twitter_id}}">@{{twitter_id}}</a>,
    {{/if}}

    {{#if youtube_id}}
       Youtube: <a href="https://www.youtube.com/user/{{youtube_id}}">{{youtube_id}}</a>,
    {{/if}}