    {{#if govtrack_id}}
        <a href="https://www.govtrack.us/congress/members/{{govtrack_id}}">
    {{else}}
        <a href="/?q={{congress_get_name}}">
    {{/if}}

    {{get_name}} </a> ({{congress_get_party}}){{#if district}},{{else}}{{#if term_end}},{{/if}}{{/if}}

    {{#if district}}
        District: {{district}}{{#if term_end}} - {{/if}}
    {{/if}}
    
    {{#if term_end}}
        {{congress_get_date}}
    {{/if}}
 
     {{#if phone}}
       Phone: {{phone}}{{#if twitter_id}},{{else}}{{#if facebook_id}},{{/if}}{{/if}}
    {{/if}}
    
    {{#if twitter_id}}
        <a class="congress_link" href="https://www.twitter.com/{{twitter_id}}">@{{twitter_id}}</a>{{#if facebook_id}},{{/if}}
    {{/if}}

    {{#if facebook_id}}
        <a class="congress_link" href="https://www.facebook.com/{{facebook_id}}">Facebook</a>
    {{/if}}
