<div class="tile__heading">
    <div class="zci--instant_answers_index tile__stamp circle tile__{{repo}}">
    </div>


    <div class="tile__name one-line">
        {{name}}
    </div>


    <div style="tile__repo">
        <div class="tile__repo">
            ({{repo}})
        </div>
    </div>


    <div class="zci--instant_answers_index tile__divide tile__{{repo}}">
    </div>


    <div class="tile__desc">
        "{{description}}"
    </div>


    <div class="zci--instant_answers_index tile__tag one-line">
        {{tag}}
    </div>
</div>