<div>
  <a href="http://steamdb.info/app/{{AppID}}/">{{StoreName}}</a> {{#if Price}}- {{Price}}{{/if}}
</div>
<small>
  <span class="more-information">
    <a href="http://store.steampowered.com/app/{{AppID}}/">Steam Store</a>
    ·
    <a href="http://steamcommunity.com/app/{{AppID}}/">Community Hub</a>
  </span>
</small>
