<div class="tile  tile--f  tile--mass-loc  zci-mass_on_time">

    <!-- Front of tile -->
    <div class="tile--f__main  tile--loc__main">
        <div class="tile__head">
            <div class="head--title tile__title--wrap">
                <h6 class="tile__title with-sub tile__title--1">{{ellipsis name 41}}</h6>
                <span class="tile__sub tx--13 tx-clr--grey">{{diocesename}}</span>
            </div>
            <div class="head--num pull-right">
                <div class="number">{{num}}</div> 
            </div>      
        </div>
        <div class="head--clear"></div>

        <div class="tile__body has_foot--4"></div>
        <div class="tile__foot tile__foot--4">
            {{#if phone}}
                <span class="tile__foot-line">{{ellipsis phone}}</span>
            {{/if}}
            <span class="tile__foot-line">{{MassOnTime_format_eventtypeid eventtypeid}}</span>
            {{#if starttime}}
                <span class="tile__foot-line">{{MassOnTime_format_12h_start starttime}}</span>
            {{/if}}      
        </div>
    </div>

    <!-- Back of tile -->
    <div class="tile--f__alt  tile--loc__alt">
        <div class="tile__body  {{#and url meta.sourceName}}has-foot{{/and}}">

            <h6 class="tile__title tile__title--1">
                <a href="{{url}}" title="{{name}}">{{ellipsis name 41}}</a>
            </h6>

            {{#if address_lines}}
                <a class="tile__address tx--13" href="{{directions}}">
                    {{#each address_lines}}
                        {{.}}<br />
                    {{/each}}
                </a>
            {{else}}
                {{#if address}}
                    <span class="tile__address tx--13">{{ellipsis address 65}}</span>
                {{/if}}
            {{/if}}

            {{#if phone}}
                <a class="tile__phone tx--13 tx-clr--slate-light" href="tel:{{phone}}">{{phone}}</a>
            {{/if}}

            <div class="tile__foot">
                {{#and url meta.sourceName}}
                   {{{moreAt url meta.sourceName dynamicMoreAtText=5}}}
                {{/and}}
            </div>
        </div>
    </div>
</div>
