<span><a href="{{backup_link webaddress id}}">{{churchname}}</a> in the diocese of {{diocesename}} </span>
<br/>
<small>
  <span class="location"><div class="adr"><span class="street-address">{{address}}</span>, <span class="locality">{{city}}</span>, <span class="region">{{province}}</span> </div></span>
</small>
