<div>
<a href="{{backup_link webaddress id}}">{{churchname}}</a> in the diocese of {{diocesename}} <br/>
<span class="location"><div class="adr"><span class="street-address">{{address}}</span>, <span class="locality">{{city}}</span>, <span class="region">{{province}}</span> </div></span>
</div>
