<div>
<em>{{format_eventtypeid eventtypeid}}</em> - {{starttime12}} at <a href="http://{{webaddress}}">{{churchname}}</a>  <br/>
<span class="location"><div class="adr"><span class="street-address">{{address}}</span>, <span class="locality">{{city}}</span>, <span class="region">{{province}}</span> </div></span> <br/>
{{comment}}
</div>
