<span><em>{{format_eventtypeid eventtypeid}}</em> - {{starttime12}} at <a href="{{backup_link webaddress id}}">{{churchname}}</a> </span>
<br/>
<small>
  <span> {{format_parish_address address city province}} </span>
{{#if comment}}
  <br/>
  {{comment}}
{{/if}}
</small>
