<div class="detail__showtimes">
    <h5>Showtimes for {{ title }}</h5>

    {{#each showtimes}}
        <hr>
        <div>
            <p id="{{cinema_id}}">{{cinema_name}}</p>
            <p>{{is_3d}}</p>
            <p>{{date}} - {{time}}</p>
        </div>
    {{/each}}
</div>