<div class="detail__showtimes">
    <h4>Showtimes for {{ title }}</h4>

    {{#each showtimes}}
        <hr>
        <div>
            <a href="{{cinema_website}}" id="{{cinema_id}}"><h5 class="movie--title">{{cinema_name}}</h5></a> - <span><a href="https://duckduckgo.com/?q=map+{{cinema_lon}}%2C+{{cinema_lat}}&atb=v1&ia=maps">Map</a></span>
            <p>{{date}} - {{time}}</p>
        </div>
    {{/each}}
</div>