<div class="tile  tile--c tile--seat_geek" data-link="{{url}}">
    <div class="tile__body has-foot">
        <div class="header_container">
        <img src="{{img}}" />
            <h3 class="tx-clr--dk">
                {{condense title maxlen="43"}}
            </h3>
        </div>
        <div class="tile__content">
            <div class="date">
                {{#if month}}
                    {{month}}
                {{/if}}
                {{#if day}}
                    {{day}}
                {{/if}}
                {{#if year}}
                    , {{year}}
                {{/if}}
            </div>
            <div class="where city one-line">
                {{city}}
            </div>
        </div>
        <div class="tile__footer">
            {{#if price}}
                <div class="price tx-clr--dk">{{price}}</div>
            {{else}}
                <div class="noprice">Price N/A</div>
            {{/if}}
        </div>
    </div>
</div>
