<div class="header_container">
     {{#if logo}}
       <div class="tile__title-container has_logo">
           <h4 class="tx-clr--dk tile__title media__body has_sub">
               {{title}}
           </h4>
        </div>
        <div class="container-wrapper">
            <div class="logo-container">
                <img src="{{logo}}" onError="$(this).parent().parent().hide();"/>
            </div>
        </div>
     {{else}}
       <div class="tile__title-container">
           <h4 class="tx-clr--dk tile__title media__body has_sub">
               {{title}}
           </h4>
        </div>
     {{/if}}
</div>
<div class="where">
    <div class="place-line one-line">
        {{place}}
    </div>
    <div class="city-line one-line">
        {{city}}
    </div>
</div>
<div class="tile__footer one-line">
   {{#if price}}
       <div class="price tx-clr--dk">${{price}}+</div>
   {{else}}
       <div class="noprice">Price N/A</div>
   {{/if}}
   <div class="date tx-clr--dk">
        {{#if month}}
            {{month}}
        {{/if}}
        {{#if day}}
            {{day}}
        {{/if}}
    </div>
</div>