<div>
    {{#with places.place.[0]}}
        <div>Zip Code <a href="javascript:void(0);" class="places" data-southwest="{{boundingBox.southWest.latitude}}|{{boundingBox.southWest.longitude}}" data-northeast="{{boundingBox.northEast.latitude}}|{{boundingBox.northEast.longitude}}">{{name}}</a> approximate area:</div>
        <div id="map"></div>
    {{/with}}
    <div>
        {{#checkZipcode}}
            {{#concat this sep=", " conj=" and "}}<a href="javascript:void(0);" class="places" data-southwest="{{boundingBox.southWest.latitude}}|{{boundingBox.southWest.longitude}}" data-northeast="{{boundingBox.northEast.latitude}}|{{boundingBox.northEast.longitude}}">{{name}}</a> ({{country}}){{/concat}}
        {{/checkZipcode}}
    </div>
</div>