<div class="zci--book">
    <div class="subtitle">by {{author}}
    <span class="rating">{{rating}}</span></div>
    <div class="clear"></div>
    <div>
        <div class="description">{{{ellipsis description 170}}}</div>
        <div class="source">
            <a href="{{sourceLink}}"><i>-{{source}}</i></a>
        </div>
        <div class="recommend_line">
            <span class="recommended_by">Recommended by: </span>
            {{#each recommendedBy}}
                <span class="sources_recommending">
                    <a href="{{this.link}}">
                        {{this.recommendedSource}}<span class="conj">,</span>
                    </a>
                </span>
            {{/each}}
        </div>
    </div>
</div>


