<div class="zci--book">
    <div class="subtitle">by {{author}} 
    <span class="rating">{{rating}}</span></div>
    <div>
        <div class="description">{{{ellipsis description 170}}}</div>
        <div class="source">
            <i>-{{source}}</i>
        </div>
        <div class="recommend_line">
            <span class="recommended_by">Recommended by: </span><span class="sources_recommending">{{recommendedBy}}</span>
        </div>
    </div>
</div>


