<div> <a href={{review_link}}> <h1> {{source}} </h1> <img src="{{smiley_or_sad}}" width="25" style="display:inline" title="{{pos_or_neg}} rating"/> </a></div>
<p>  &ldquo;{{snippet}}&rdquo; -  {{review_date}} </p>


