{{{ellipsis description 170}}}

<div>
    <a class="tx-clr--grey" href="{{sourceLink}}">
        <i>-{{source}}</i>
    </a>
</div>

<div class="recommend_line">
    <span class="recommended_by">Recommended by: </span>
    <span class="tx-clr--grey">
        {{#concat recommendedBy sep="," conj="and"}}
           <a class="tx-clr--grey" href="{{this.link}}">
                {{this.recommendedSource}}
           </a>
        {{/concat}}
    </span>
</div>

