<div class="tile  tile--f  tile--loc">
    <!-- Front of tile -->
    <div class="tile--f__main  tile--loc__main">
        <div class="tile__media">
            {{#if image}}
                <div class="tile__media__wrapper">
                    <img src="" data-src="{{imageProxy image}}" alt="{{title}}" class="tile__media__img  js-lazyload" />
                </div>
            {{else}}
                <span class="ddgsi tile__media__no-img">@</span>
            {{/if}}
        </div>
        <div class="tile__num">{{num}}</div>
        <div class="tile__body">
            <h6 class="tile__title">{{ellipsis name 33}}</h6>
            <div class="tile__subtitle">{{ellipsis subtitle 16}}</div>
            <div class="tile__foot">
                <div class="title--parking__distance">{{distance}}</div>
                <div class="title--parking__price">{{price}}</div>
            </div>
        </div>
    </div>
    <!-- Back of tile -->
    <div class="tile--f__alt  tile--loc__alt">
        <div class="tile__body has-foot">
            <h6 class="tile__title">
                <a href="{{url}}" title="{{name}}">{{ellipsis displayName 33}}</a>
            </h6>
            {{#if price}}
                <span class="tile__price">{{price}}</span>
            {{/if}}
            {{#if address_lines}}
                <span class="tile__address">
                    {{#each address_lines}}
                        {{.}}<br />
                    {{/each}}
                </span>
            {{/if}}
            <div class="tile__foot tile--parking__foot__back">
                <a href="{{url}}" class="btn btn--primary btn--parking detail__links__btn reserve-btn--parking">Reserve Parking</a>
            </div>            
        </div>
    </div>
</div>