<div class="detail__media  detail__media--recipe">
    <img src="{{imageProxy image}}" alt="{{recipeName}}" class="detail__media__img" />
</div>
<div class="detail__body  detail__body--recipe">
    <div class="detail__body__content">
        <h5 class="detail__title"><a href='{{url}}' title="{{title}}">{{recipeName}}</a></h5>
        <div class="detail__desc">
            <p class="detail__source">
                {{{include meta.options.subtitle_content}}}
            </p>
            <div class="detail__content--recipe">
                {{{include meta.options.description_content}}}
                {{{include meta.options.full_content}}}
            </div>
            {{{include meta.options.buy}}}
        </div>
    </div>
</div>
