<div class="recipe  c-detail">
    <h5 class="c-detail__title  recipe__title"><a href='{{url}}' title="{{title}}">{{recipeName}}</a></h5>
    <div class="c-detail__desc">
        <p class="c-detail__source  recipe__subtitle">
            {{{include 'DDH.recipes.recipes_subtitle'}}}
        </p>
        <div class="recipe__content">
            {{{include 'DDH.recipes.recipes_ingredients'}}}
            {{{include 'DDH.recipes.recipes_flavors'}}}
        </div>
    </div>
    <div class="c-detail__callout hide--dsp-mob">
        {{{include 'DDH.recipes.recipes_view_full'}}}
    </div>
</div>
