<div class="tile  tile--c  has-detail  tile--recipe">
	<div class="tile__media">
		<img src="{{image_redirect image}}" alt="{{recipeName}}" class="tile__media__img" />
	</div>
	<div class="tile__body">
		<h6 class="tile__title">{{ellipsis recipeName 40}}</h6>
        {{#if showIngredientsOnTile}}
            <p class="tile__ingredients">{{ellipsis ingredientString 60}}</p>
        {{/if}}
		<div class="tile__rating  one-line">
			{{{starRating rating}}}
            <span class="tile__source pull-left">{{ellipsis sourceDisplayName 19}}</span>
		</div>
	</div>
</div>
