<h3>
  {{#ifCond status "good"}}
    The status of GitHub is <span class="good">{{status}}</span>.
  {{else}}
    {{#ifCond status "minor"}}
      GitHub is experiencing <span class="minor">{{status}}</span> issues.
    {{else}}
      GitHub is experiencing <span class="major">{{status}}</span> issues.
    {{/ifCond}}
    <h6>{{body}}</h6>
  {{/ifCond}}
</h3>
<div>Updated {{description}}</div>
