<h3 class="ghstatus--header text--primary">
  {{! checks if the status is either good, minor, or major }}
  {{#GithubStatus_ifCond status "good"}}
    The status of GitHub is <span class="ghstatus--good">{{status}}</span>.
  {{else}}
    {{#GithubStatus_ifCond status "minor"}}
      GitHub is experiencing <span class="ghstatus--minor">{{status}}</span> issues.
    {{else}}
      GitHub is experiencing <span class="ghstatus--major">{{status}}</span> issues.
    {{/GithubStatus_ifCond}}
    <h6 class="ghstatus--message text--secondary">{{body}}</h6>
  {{/GithubStatus_ifCond}}
</h3>
<div class="ghstatus--update text--secondary">
  Updated {{description}}
</div>
