<h3 class="header">
  {{#GithubStatus_ifCond status "good"}}
    The status of GitHub is <span class="good">{{status}}</span>.
  {{else}}
    {{#GithubStatus_ifCond status "minor"}}
      GitHub is experiencing <span class="minor">{{status}}</span> issues.
    {{else}}
      GitHub is experiencing <span class="major">{{status}}</span> issues.
    {{/GithubStatus_ifCond}}
  {{/GithubStatus_ifCond}}
  <h6 class="message">{{body}}</h6>
</h3>
<div class="update">
  Updated {{description}}
</div>
