<div class="spice_indeed_job">
    <div><a href="{{url}}">{{jobtitle}}</a></div>
    {{#if company }}<span class="spice_indeed_job_company">{{company}}</span>{{/if}}{{#if formattedLocation}}{{#if company}} - {{/if}}<span class="spice_indeed_job_location">{{formattedLocation}}</span>{{/if}} - <span class="spice_indeed_job_time">{{formattedRelativeTime}}</span>
</div>
