<div>
    <div class="uv_indicator uv_risk_{{risk}}">
        <span class="uv_indicator--value">{{uvIndexName}}</span>
    </div>
    <div class="uv_header">
        <h3 class="zci__header">{{riskTitle}}</h3>
        <h4 class="zci__subheader uv_subheader">{{city}}, {{state}}</h4>
    </div>
</div>
<div class="zci_content uv_description">
    {{protection}}
</div>
<div class="zci__links">
    <a href="http://www.epa.gov/enviro/facts/uv/uv_descriptions.html" class="zci__more-at">
        <img class="zci__more-at__icon" src="//icons.duckduckgo.com/ip2/www.epa.gov.ico" height="16" width="16">More at EPA 
    </a>
</div>