<div class="detail__media  detail__media--anime">
    <img src="{{imageProxy image}}" alt="{{title}}" class="detail__media__img" />
</div>
<div class="detail__body  detail__body--anime">
    <div class="detail__body__content">
        <h5 class="detail__title"><a href='{{url}}' title="{{title}}">{{title}}</a></h5>
        <div class="detail__desc">
            <p class="detail__source">
                {{{starRating rating}}}
                {{#episode_count}}
                    <span class="detail__separator"> | </span>
                    <span class="detail__episodes">Episodes: {{.}}</span>
                {{/episode_count}}
            </p>
            <div class="detail__content--anime">
                {{synopsis}}
            </div>
            <a href="{{url}}" class="detail__links__btn  view-btn--animes">
                <img class="btn__icon" src="{{meta.sourceIconUrl}}" />
                View Anime
            </a>
        </div>
    </div>
</div>
