<div id="container">
    {{#each sites to="5"}}
    <div>
        <img src="https://icons.duckduckgo.com/ip/{{name}}.ico" width='16px' height='16px'>
        <a href="{{url}}" class="tx-clr--dk">{{name}}</a>
    </div>
    {{/each}}

    {{#if show_more}}
    <div id="hidden">
        {{#each sites from="6"}}
        <div>
            <img src="https://icons.duckduckgo.com/ip/{{name}}.ico" width='16px' height='16px'>
            <a href="{{url}}" class="tx-clr--dk">{{name}}</a>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <div id="more_info">
        {{#if show_more}}
            <span class="tx-clr--lt" id="show_more">
              <i class="chomp--link__icn"></i>
              <span class="chomp--link__mr">Show More</span>
              <span class="chomp--link__ls" style="display: none">Show Less</span>
            </span>
        {{/if}}
    </div>
</div>
