
{{#each sites to="5"}}
<div>
    <img src="https://icons.duckduckgo.com/ip/{{name}}.ico" width='16px' height='16px'>
    <a href="{{url}}" class="tx-clr--dk">{{name}}</a>
</div>
{{/each}}

{{#if show_more}}
<div class="is-hidden">
    {{#each sites from="6"}}
    <div>
        <img src="https://icons.duckduckgo.com/ip/{{name}}.ico" width='16px' height='16px'>
        <a href="{{url}}" class="tx-clr--dk">{{name}}</a>
    </div>
    {{/each}}
</div>
{{/if}}

<div class="more_info">
    {{#if show_more}}
    <span class="tx-clr--lt show_more chomp--link can-expand">
        <i class="chomp--link__icn"></i>
        <span class="chomp--link__mr">Show More</span>
        <span class="chomp--link__ls">Show Less</span>
    </span>

    <span class="vertical_roller"></span>
    {{/if}}

    <span class="more_at">
        <img src="https://icons.duckduckgo.com/ip/www.similarsitesearch.com.ico" class="result__icon">
        <a class="tx-clr--lt" href="http://www.similarsitesearch.com/alternatives-to/{{more_at}}">More at SimilarSiteSearch</a>
    </span>
</div>
