<div class="market-rates text--secondary">{{cryptoDate}} at {{CryptoTime}} UTC</div>

<div class="zci__metabar__more-at custom">
    <a href="http://www.cryptonator.com/rates#{{fromCurrencySymbol}}" class="zci__more-at"><img width="16" height="16" class="zci__more-at__icon" src="//images.duckduckgo.com/iu/?u=http://www.cryptonator.com/ui/img/favicon.png&amp;f=1">cryptonator.com
    </a>
</div>

<div class="clear"></div>

<a class="tile tile--s small" href="http://www.cryptonator.com/rates">
    <div class="zci--currency-first-part tx-clr--dk">
        <img src="{{fromFlag}}" alt="Flag of {{fromCurrencySymbol}}">
        <span class="zci--currency-symbol-large">{{fromCurrencySymbol}}</span>
        <span class="zci--currency-amount" data-original="{{from-amount}}" data-processed="{{amount}}">{{amount}}</span>
        <span class="zci--currency-symbol-small">{{fromCurrencySymbol}}</span>
    </div>
    
    <div class="zci--currency-equal tx-clr--dk">
        <span class="horizontal"></span>
        <span class="equal">=</span>
        <span class="horizontal"></span>
    </div>
    
    <div class="zci--currency-second-part tx-clr--dk">
        <img src="{{toFlag}}" alt="Flag of {{toCurrencySymbol}}">
        <span class="zci--currency-symbol-large">{{toCurrencySymbol}}</span>
        <span class="zci--currency-amount" data-original="{{converted-amount}}" data-processed="{{convertedAmount}}">{{convertedAmount}}</span>
        <span class="zci--currency-symbol-small">{{toCurrencySymbol}}</span>
    </div>
</a>

<div class="zci--currency-ratesinfo-mobile text--secondary">
    <div>{{rate}}</div>
    <span class="horizontal"></span>
    <div>{{inverseRate}}</div> 
</div>