<div class="zci__main">
    <div class="zci__body">
        <div class="text--secondary">Market Rates: {{cryptoDate}} at {{cryptoTime}} UTC</div>

        <div class="zci--cryptocurrency-container">
            <div class="zci--cryptocurrency-result" data-link="{{cryptonatorURL}}">
                <div class="zci--cryptocurrency-group">
                    <section class="zci--cryptocurrency-first-part">
                        <img src="{{fromFlag}}" alt="Flag of {{fromCurrencySymbol}}">
                        <span class="zci--cryptocurrency-amount text--primary" data-original="{{queryAmount}}" data-processed="{{amount}}">{{amount}}</span>
                        <span class="zci--cryptocurrency-symbol">{{fromCurrencySymbol}}</span>
                    </section>

                    <span class="zci--cryptocurrency-equal">=</span>
                </div>

                <section class="zci--cryptocurrency-second-part">
                    <img src="{{toFlag}}" class="flag" alt="Flag of {{toCurrencySymbol}}">
                    <span class="zci--cryptocurrency-amount text--primary" data-processed="{{convertedAmount}}">{{convertedAmount}}</span>
                    <span class="zci--cryptocurrency-symbol">{{toCurrencySymbol}}</span>
                </section>
            </div>
                

            <div class="zci--cryptocurrency-ratesinfo">
                <div>{{rate}}</div>
                <div>{{inverseRate}}</div> 
            </div>
        </div>

        <div class="clear"></div>
        <a href="http://www.cryptonator.com/rates#{{fromCurrencySymbol}}" class="zci__more-at"><img class="zci__more-at__icon" src="//images.duckduckgo.com/iu/?u=http://www.cryptonator.com/ui/img/favicon.png&amp;f=1">More at cryptonator.com</a>
        <a href="http://www.cryptonator.com/rates" class="zci__more-at--info">
            <span class="zcm__sep"></span>  
            View All Exchange Rates
        </a>
    </div>
</div>