<div class="tile tile--s tile--c" data-link="{{cryptonatorURL}}">
    <div class="tile__view tx-clr--dk">
        <span class="btn--container">
            <a class="ddgsi btn btn--lite" href="/?q={{convertedAmount}}+{{toCurrencySymbol}}">↩</a>
        </span>
        <span class="currency--border"></span>
        <img src="{{toFlag}}" alt="Flag of {{toCurrencySymbol}}">
        <div class="currency--symbol">{{toCurrencySymbol}}</div>
        <div class="currency--amount one-line">{{convertedAmount}}</div>
        <div class="one-line currency--rate {{#unless initial}}tx-clr--lt{{/unless}}">{{#if initial}}{{currencyName}}{{else}}{{rate}}{{/if}}</div>
    </div>
</div>
