<a class="news-link" href="{{url}}">
  <span class="news-title">{{{title}}}</span>
  <div class="news-snippet">{{{excerpt}}}</div>
  <div class="news-more-at">
    <img src="{{getIcon url}}" class="favicon">
    <span class="news-domain">{{getDomain url}}</span>
    <span class="news-date">Posted {{{getTime relative_time}}} ago</span>
  </div>
</a>