{{#relevantMovie}}

    <div id="movie_data_box" {{#if hasContent}}class="half-width"{{/if}}>

        <div>
            {{#if ratings.critics_rating}}
                <span class="movie_data_item">{{ratings.critics_rating}}</span>
                <span class="movie_star_rating">{{{star_rating ratings.critics_score}}}</span>
                <div class="movie_data_description">
                ({{ratings.critics_score}}% critics,
                 {{ratings.audience_score}}% audience approved)
                </div>
            {{else}}
                <span>No score yet...</span>
                <div class="movie_data_description">
                    ({{ratings.audience_score}}% audience approved)
                </div>
            {{/if}}
        </div>

        <div><span class="movie_data_item">MPAA rating:</span>{{mpaa_rating}}</div>
        {{#if runtime}}
            <div><span class="movie_data_item">Running time:</span>{{runtime}} minutes</div>
        {{/if}}

        {{#if abridged_cast}}
            <div><span class="movie_data_item">Starring:</span>
                {{#concat abridged_cast sep=", " conj=" and "}}<a href="http://www.rottentomatoes.com/celebrity/{{id}}/">{{name}}</a>{{/concat}}.
            </div>
        {{/if}}

    </div>
    {{#if hasContent}}
        <span>
            {{#if synopsis}}
                {{condense synopsis maxlen="300"}}
            {{else}}
                {{condense critics_consensus maxlen="300"}}
            {{/if}}
        </span>
    {{/if}}

{{/relevantMovie}}