<h1>{{query.results.quote.LastTradePriceOnly}}</h1>
<span>{{query.results.quote.PercentChange}} ({{query.results.quote.LastTradeDate}})</span>
<br>
<span>Intraday Range: {{query.results.quote.DaysRange}}</span>
<br>
<span>Prev Close: {{query.results.quote.PreviousClose}}</span>
<br>
<span>Open: {{query.results.quote.Open}}</span>
<br>
<span>Bid: {{query.results.quote.Bid}}</span>
<br>
<span>Ask: {{query.results.quote.Ask}}</span>
<br>
<span>52 Week Range: {{query.results.quote.YearRange}}</span>
<br>
<span>Average Daily Volume: {{query.results.quote.AverageDailyVolume}}</span>