<span class='espn_zci_tab_link espn_zci_tab_selected' id='espn_zci_news_link'>News</span> |
{{#if stats}}<span class='espn_zci_tab_link' id='espn_zci_stats_link'>Stats</span> |{{/if}}
<span class='espn_zci_tab_link' id='espn_zci_gamelog_link'>Gamelog</span>

<div class='espn_zci_tab' style='display:block' id='espn_zci_news'>
    <img src='/iu?u={{headshot}}' id='espn_news_image'>
    <div class='blurb'>
        {{name}} is a football {{position}} for the {{teamCity}} {{teamName}} ({{league}}).
    </div>
    <ul>
        {{#each headline}}
        <li><a href='{{links.web.href}}'>{{headline}}</a> ({{source}})</li>
        {{/each}}
    </ul>
</div>

{{#if stats}}
<div class='espn_zci_tab' id='espn_zci_stats'>
    <div class='blurb'>
        {{name}} {{seasonTimeFrame}} {{seasonDescription}} season statistics:
    </div>
    <table>
        {{#if completionPercentage}}<ul><li><tr><th>Completion percentage:</th><td>{{completionPercentage}}%</td></tr></li></ul>{{/if}}
        {{#if passingAttempts}}<ul><li><tr><th>Passing attempts:</th><td>{{passingAttempts}}</td></tr></li></ul>{{/if}}
        {{#if passingYards}}<ul><li><tr><th>Passing yards:</th><td>{{passingYards}}</td></tr></li></ul>{{/if}}
        {{#if passingTouchdowns}}<ul><li><tr><th>Passing touchdowns:</th><td>{{passingTouchdowns}}</td></tr></li></ul>{{/if}}

        {{#if rushingAttempts}}<ul><li><tr><th>Rushing attempts:</th><td>{{rushingAttempts}}</td></tr></li></ul>{{/if}}
        {{#if rushingYards}}<ul><li><tr><th>Rushing yards:</th><td>{{rushingYards}}</td></tr></li></ul>{{/if}}
        {{#if longRushing}}<ul><li><tr><th>Long rushing:</th><td>{{longRushing}}</td></tr></li></ul>{{/if}}
        {{#if yardsPerRushAttempt}}<ul><li><tr><th>Yards per rush attempt:</th><td>{{yardsPerRushAttempt}}</td></tr></li></ul>{{/if}}

        {{#if receptions}}<ul><li><tr><th>Receptions:</th><td>{{receptions}}</td></tr></li></ul>{{/if}}
        {{#if receivingYards}}<ul><li><tr><th>Receiving yards:</th><td>{{receivingYards}}</td></tr></li></ul>{{/if}}
        {{#if fumbles}}<ul><li><tr><th>Fumbles:</th><td>{{fumbles}}</td></tr></li></ul>{{/if}}
        {{#if receivingTouchdowns}}<ul><li><tr><th>Receiving touchdowns:</th><td>{{receivingTouchdowns}}</td></tr></li></ul>{{/if}}

        {{#if totalTackles}}<ul><li><tr><th>Total tackles:</th><td>{{totalTackles}}</td></tr></li></ul>{{/if}}
        {{#if passesDefended}}<ul><li><tr><th>Passes defended:</th><td>{{passesDefended}}</td></tr></li></ul>{{/if}}
        {{#if fumblesForced}}<ul><li><tr><th>Fumbles forced:</th><td>{{fumblesForced}}</td></tr></li></ul>{{/if}}
        {{#if interceptions}}<ul><li><tr><th>Interceptions:</th><td>{{interceptions}}</td></tr></li></ul>{{/if}}
    </table>
</div>
{{/if}}

<div class='espn_zci_tab' id='espn_zci_gamelog'>
    <div class='blurb'>
        The {{teamCity}} {{teamName}} have a {{record}} record.
    </div>
    <div id='espn_zci_gamelog_wrapper'>
        <table>
            <th></th><th>Home</th><th></th><th>Away</th><th></th><th></th></tr>
            {{#each events}}
            <tr>
                <td>{{date}}</td>
                <td><a href='{{home.link}}'>{{home.teamName}}<a/></td>
                <td>vs</td>
                <td><a href='{{away.link}}'>{{away.teamName}}<a/></td>
                <td>
                    <a href='{{link}}'>
                        {{#if win}}
                            <span style='color:green'>W</span>
                        {{else}}
                            <span style='color:red'>L</span>
                        {{/if}}
                        {{home.score}}-{{away.score}}
                    </a>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
