<div>
    {{#each famlist from="0" to="1"}}
    <h1 class='text--primary iplookup_domain_name zci__header--detail'><a href='http://{{this}}'>{{this}}</a></h1>
    {{/each}}
    <div class='text--secondary'>Owned by: {{shortwho}} - {{shortloc}}</div>
    {{#if blacklists}}
        <div class='text--secondary'>Blacklists:</div>
            <ul class='blacklists text--secondary'>
                {{#each blacklists}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
</div>