<table class="zci__table zci--nutrition">
    <tr class="zci__table__tr record__row  ">
        <th></th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Calories</th>
        <th>Weight</th>
    </tr>
    {{!-- dump the data object below --}}
    {{#each foods}}
    <tr class="zci__table__tr record__row">
        <td>{{ food_name }}</td>
        <td>{{ serving_qty }}</td>
        <td>{{ serving_unit }}</td>
        <td>{{ nf_calories }}</td>
        <td>{{ serving_weight_grams }}</td>
    </tr>
    {{/each}}
</table>