{{#if notes}}
  <p>
    {{notes}}
  </p>
{{/if}}
{{#if url}}
  <p>
    <b>URL:</b> <a href='{{url}}'>{{url}}</a>
  </p>
{{/if}}
{{#if email}}
  <p>
    <b>Email:</b> <a href='mailto:{{email}}'>{{email}}</a>
  </p>
{{/if}}