<h5 class="tile__title">
  <a href="{{data.url}}">{{ellipsis data.title 70}}</a>
</h5>

<div class="reddit__search--comments">
  <a href="http://www.reddit.com{{data.permalink}}">{{plural data.num_comments singular="comment" plural="comments"}}</a>
</div>
<div>
  ({{data.domain}},&nbsp;{{plural data.score singular="point" plural="points"}})
</div>
