<a href="{{data.url}}">{{{condense data.title maxlen='90'}}}</a>
<br>
<small>
    [<a href="http://www.reddit.com{{data.permalink}}">{{plural data.num_comments singular="comment" plural="comments"}}</a>]
    ({{data.domain}},&nbsp;{{plural data.score singular="point" plural="points"}})
</small>
