{{#if description}}
    <div>Details: {{description}}</div>
{{/if}}
{{#if item.market_status_v2}}
    <div>Market Status: {{item.market_status_v2}}</div>
{{/if}}
{{#if price}}
    <div>Average Price: ${{price}}</div>
{{/if}}
<br>
{{#if datasheet}}
    <a href="{{{datasheet}}}" class="btn btn__datasheet">Datasheet</a>
{{/if}}
{{#if item.octopart_url}}
    <a href="{{{item.octopart_url}}}" class="btn btn--primary">
    Buy at Octopart
    </a>
{{/if}}


