<div class="js-infobox-tile">
	<div class="info">
		<span class="info__label">Show Type</span><span class="info__value">{{ type }}</span>
	</div>
	
	<div class="info">
		<span class="info__label">Show Status</span><span class="info__value">{{ status }}</span>
	</div>
	
	<div class="info">
		<span class="info__label">Premiered on</span><span class="info__value">{{ premiered }}</span>
	</div>
	
	{{#if network}}
		<div class="info">
			<span class="info__label">Network</span><span class="info__value">{{ network.name }}</span>
		</div>

		<div class="info">
			<span class="info__label">Country of origin</span><span class="info__value">{{ network.country.name }}</span>
		</div>
	{{/if}}
	
	{{#if webChannel}}
		<div class="info">
			<span class="info__label">Web Channel</span><span class="info__value">{{ webChannel.name }}</span>
		</div>

		{{#if webChannel.country}}
			<div class="info">
				<span class="info__label">Country of origin</span><span class="info__value">{{ network.country.name }}</span>
			</div>
		{{/if}}
	{{/if}}
</div>
