<div class="songkick-event">
  <a href="{{uri}}">{{artist}}</a><br/>
  <small><span class="songkick-event-kicker">{{venue}} - {{dateString start.date}}{{#if start.time}} @ {{start.time}}{{/if}}</span></small>
</div>
