<a href="{{display_url}}" title="{{synopsis}}">
<img class="bbc_img" src="{{display_image}}"></img>
<div class="bbc_time"><code>{{display_time}}</code></div>
<div class="bbc_fulltitle">{{{display_title}}}</div>
</a>