<span class="title"><a href="{{programme_url}}" class="title">{{full_title}}</a></span>{{#if programme.programme}}: <a href="{{url}}"><span class="subtitle">{{subtitle}}</a></span>{{/if}}<br>
<span class="synopsis"><p>{{synopsis}}</p></span><br>
Duration: <span class="bbc_duration">{{duration}}</span>
