<span class="bbc_title"><a href="{{programme_url}}">{{full_title}}</a></span>{{#if programme.programme}}: <a href="{{url}}"><span class="bbc_subtitle">{{subtitle}}</a></span>{{/if}}<br>
<span class="bbc_synopsis"><p>{{synopsis}}</p></span><br>
Duration: <span class="bbc_duration">{{duration}}</span>
