<span class="bbc_title"><a href="{{programme_url}}">{{full_title}}</a></span>{{#if programme.programme}}: <span class="bbc_subtitle"><a href="{{url}}">{{subtitle}}</a></span>{{/if}}<br>
<span class="bbc_synopsis"><p>{{synopsis}}</p></span><br>
Duration: <span class="bbc_duration">{{duration}}</span>