{{#if programme.is_available_mediaset_pc_sd}}
	<a class="button" href="http://www.bbc.co.uk/iplayer/episode/{{programme.pid}}" alt="{programme.media.availability}}">Watch Now</a>
{{/if}}
<div class="title full_title">
	<a href="{{programme_url}}">{{programme.display_titles.title}}</a>{{#if programme.display_titles.subtitle}}:
	<a href="http://www.bbc.co.uk/programmes/{{programme.pid}}">
		<span class="subtitle">
			{{pretty_subtitle}}
		</span>
	</a>
	{{/if}}
	
</div>
<div class="synopsis">
	<p>{{programme.short_synopsis}}</p>
</div>
<div>
	<span class="duration">
		On for {{duration}}</span> - <span class="initial_broadcast">Originally aired {{initial_broadcast}} on {{programme.ownership.service.title}}
	</span>
</div>
