<div>
    {{#list events.event}}
        <li>
            <a href="{{url}}">{{title}}</a> at <a href="{{venue.url}}">{{venue.name}}</a> ({{distance venue.location.[geo:point].[geo:long] venue.location.[geo:point].[geo:lat] ../events.[@attr].location}}) - {{date startDate}}
        </li>
    {{/list}}
</div>