<div>
    <div id="map"></div>
    <ul class="areas">
        {{#list events.event}}
            <li>
                <a href="javascript:void(0)" class="location" data-title="{{title}}" data-city="{{venue.location.city}}" data-country="{{venue.location.country}}" data-street="{{venue.location.street}}" data-name="{{venue.name}}" data-website="{{url}}" data-phone="{{venue.location.phonenumber}}" data-date="{{startDate}}" data-lat="{{venue.location.[geo:point].[geo:lat]}}" data-long="{{venue.location.[geo:point].[geo:long]}}">{{title}} <span class="metadata">at {{venue.name}}</span></a>
            </li>
        {{/list}}
    </ul>
</div>