<h5 class="tile__title">{{title}}</h5>
<div class="tile__date">
  {{WGHA_formatDate created_at}}
</div>
<div class="one-line">
  {{type}} - {{location}}
</div>
<div>
  <div class="tile__company" href="{{url}}">
  </div>
</div>

