<span class='align'>
    <div><img src={{ff_path}}></div>
    <div> {{firefox}}</div>
</span>
<span class='align'>
    <div><img src={{chr_path}}></div>
    <div> {{chrome}}</div>
</span>
<span class='align'>
    <div><img src={{saf_path}}></div>
    <div> {{safari}}</div>
</span>
<span class='align'>
    <div><img src={{ie_path}}></div>
    <div> {{ie}}</div>
</span>