<span class='align'>
    {{#if firefox_present}}
        <div><img src={{ff_path}}></div>
        <div>{{firefox}}</div>
    {{else}}
        <div class='tx-clr--grey-light fade'><img src={{ff_path}}></div>
        <div class='tx-clr--grey-light'>{{firefox}}</div>
    {{/if}}
</span>
<span class='align'>
    {{#if chrome_present}}
        <div><img src={{chr_path}}></div>
        <div>{{chrome}}</div>
    {{else}}
        <div class='tx-clr--grey-light fade'><img src={{chr_path}}></div>
        <div class='tx-clr--grey-light'>{{chrome}}</div>
    {{/if}}
</span>
<span class='saf align'>
    {{#if safari_present}}
        <div><img src={{saf_path}}></div>
        <div>{{safari}}</div>
    {{else}}
        <div class='tx-clr--grey-light fade'><img src={{saf_path}}></div>
        <div class='tx-clr--grey-light'>{{safari}}</div>
    {{/if}}
</span>
<span class='align'>
    {{#if ie_present}}
        <div><img src={{ie_path}}></div>
        <div>{{ie}}</div>
    {{else}}
        <div class='tx-clr--grey-light fade'><img src={{ie_path}}></div>
        <div class='tx-clr--grey-light'>{{ie}}</div>
    {{/if}}
</span>