<span class='align'>
    <div class='ff'><img src={{ff_path}}></div>
    <div class='ff'> {{firefox}}</div>
</span>
<span class='chr align'>
    <div><img src={{chr_path}}></div>
    <div> {{chrome}}</div>
</span>
<span class='saf align'>
    <div><img src={{saf_path}}></div>
    <div> {{safari}}</div>
</span>
<span class='align'>
    <div class='ie'><img src={{ie_path}}></div>
    <div class='ie'> {{ie}}</div>
</span>