<span class='espn_zci_tab_link espn_zci_tab_selected' id='espn_zci_news_link'>News</span> |
<span class='espn_zci_tab_link' id='espn_zci_stats_link'>Stats</span> |
<span class='espn_zci_tab_link' id='espn_zci_gamelog_link'>Gamelog</span>

<div class='espn_zci_tab' style='display:block' id='espn_zci_news'>
    <img src='/iu?u={{headshot}}' id='espn_news_image'>
    <div class='blurb'>
        {{name}} is an American professional tennis player (WTA).
    </div>
    <ul>
        {{#each headline}}
        <li><a href='{{links.web.href}}'>{{headline}}</a> ({{source}})</li>
        {{/each}}
    </ul>
</div>

<div class='espn_zci_tab' id='espn_zci_stats'>
    <div class='blurb'>
        {{name}} {{seasonTimeFrame}} {{seasonDescription}} season statistics:
    </div>
    <table>
        <tr><th>Rank:</th><td>{{rank}}</td></tr>
        <tr><th>Matches Won:</th><td>{{matchesWon}}</td></tr>
        <tr><th>Matches Lost:</th><td>{{matchesLost}}</td></tr>
        <tr><th>Titles</th><td>{{titles}}</td></tr>
    </table>
</div>

<div class='espn_zci_tab' id='espn_zci_gamelog'>
    <div class='blurb'>
        {{name}} has recently competed in these matches:
    </div>
    <div id='espn_zci_gamelog_wrapper'>
        <table>
            <th></th><th>Event</th><th></th><th>Opponent</th><th></th><th></th></tr>
            {{#each events}}
            <tr>
                <td>{{date}}</td>
                <td>{{name}}</td>
                <td>vs</td>
                <td>{{opponent}}</td>
                <td>
                    {{#if win}}
                        <span style='color:green'>W</span>
                    {{else}}
                        <span style='color:red'>L</span>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
