<div class="tile tile--s">
    {{#if isCurrent}}
    <div class="fe_currently {{#if alerts}}alert{{/if}}">
		<h5 class="fe_label"><a href="{{{meta.sourceUrl}}}">Right Now:</a></h5>
		<div class="fe_current-wrap">
			<div class="fe_top">
			  <img class="fe_current_icon" src="{{{image_redirect icon}}}" />
			  <h1 class="fe_temp">{{{temp}}}</h1>
			</div>
			<div class="fe_bottom">
				{{#if summary}}<h6 class="fe_topline"><span class="fe_summary {{summaryClass}}">{{{summary}}}</span></h6>{{/if}}
				{{#if wind}}<h6 class="fe_wind">{{{wind}}}</h6>{{/if}}
			</div>
		</div>
    </div>
    {{else}}
        <div class="fe_day">
              <img class="fe_icon" src="{{{image_redirect icon}}}" />
              <h5 class="fe_label"><a href="{{{meta.sourceUrl}}}">{{{day}}}:</a></h5>
              <h6 class="fe_date">{{{date}}}</h6>
              
              <div class="fe_summary"><h6>{{{ellipsis summary 65}}}</h6></div>
              <div class="fe_temp_bar">
                <h1 class="fe_high_temp">{{{highTemp}}}</h1>
                <h1 class="fe_low_temp">{{{lowTemp}}}</h1>
              </div>
        </div>
    {{/if}}
</div>
