<div class="tile--s  fe_current-wrap--mob">
	<div class="fe_currently  text--secondary{{#if alerts}}  alert{{/if}}">
		<span class="fe_meta  tx-clr--dk2"><a id="fe_temp_switch"><span id="fe_fahrenheit">&deg;F</span> / <span id="fe_celsius">&deg;C</span></a><span class="fe_sep tx-clr--lt2">|</span><a href="{{meta.sourceUrl}}" class="fe_more-at">{{meta.sourceName}}</a></span>
		<h5 class="fe_label"><a href="{{{meta.sourceUrl}}}">{{city}}</a></h5>
		<div class="fe_current-wrap">
		{{#with current}}
			<div class="fe_current__top">
			  <h1 class="fe_temp  tx-clr--dk">{{{temp}}}</h1>
              		  <span class="fe_icon-wrap  fe_icon-wrap--current">
			  	{{{forecast_icon icon size="80px"}}}
			  </span>
			</div>
			<div class="fe_current__bottom">
				{{#if summary}}<h6 class="fe_topline"><span class="fe_summary {{summaryClass}}">{{{summary}}}</span></h6>{{/if}}
				{{#if wind}}<h6 class="fe_wind">{{{wind}}}</h6>{{/if}}
				{{#if humidity}}<h6 class="fe_humidity">{{{humidity}}}</h6>{{/if}}
				{{#if precipitation}}<h6 class="fe_precipitation">{{{precipitation}}}</h6>{{/if}}
			</div>
		{{/with}}
		</div>
    </div>
</div>
<div class="fe_days">
	{{#each daily}}
		<div class="fe_day--bar">
			<h5 class="fe_label  tx-clr--dk2"><a href="{{{daysourceUrl}}}">{{{day}}}</a></h5>
			<span class="fe_icon-wrap  fe_icon-wrap--bar">
				{{{forecast_icon icon}}}
			</span>

			<div class="fe_temp_bar  bg-clr--dk" style="margin-top: {{tempBar.top}}px; height: {{tempBar.height}}px;">
				<span class="fe_high_temp  tx-clr--dk">{{{highTemp}}}</span>
				<span class="fe_low_temp  tx-clr--lt2">{{{lowTemp}}}</span>
			</div>
		</div>
	{{/each}}
</div>