<div class="location">Time in <b>{{placeName}}, {{country}}</b> <span class="sep"></span> UTC{{offset}}</div>
<div class="time tx-clr--slate">{{time}}</div>
<div class="time__date tx-clr--grey-dark">
    <div class="tx--19">{{dayName}}</div>
    <div class="tx--19">{{monthName}} {{day}}, {{year}}</div>
</div>