<p class="text-secondary">Time in <b>{{placeName}}, {{country}}</b></p>
<div class="time">{{time.hours}}:{{time.minutes}} {{time.amPM}}</div>
<div class="time_date">
    <div id="time_date_weekday">{{dayName}}</div>
    <div id="time_date_full">{{monthName}} {{day}}, {{year}}</div>
</div>