<p class="text-secondary">Time in <b>{{placeName}}, {{country}}</b></p>
<div class="time">{{time}}</div>
<div class="time_date">
    <div id="time_date_weekday">{{day}}</div>
    <div id="time_date_full">{{date}}</div>
</div>