<div class="location">Time in <b>{{placeName}}, {{country}}</b></div>
<div class="time tx-clr--slate">{{time.hours}}:{{time.minutes}} {{time.amPM}}</div>
<div class="time__date tx-clr--grey-dark">
    <div>{{dayName}}</div>
    <div>{{monthName}} {{day}}, {{year}}</div>
</div>