<h5>
    {{name}}
</h5>
<div><b>{{link_karma}}</b> link karma</div>
<div><b>{{comment_karma}}</b> comment karma</div>
<div>{{reddit_user_search_friendly_account_age created_utc}}</div>
<div>Account created: {{reddit_user_search_timeConverter created_utc}} UTC</div>