<h5>
    {{name}}
</h5>
<div>{{reddit_user_search_addCommas link_karma}} link karma</div>
<div>{{reddit_user_search_addCommas comment_karma}} comment karma</div>
<div>{{reddit_user_search_friendly_account_age created_utc}}</div>
<div>Account created: {{reddit_user_search_timeConverter created_utc}} UTC</div>
