<div class="one-line">
    <div class="zci--medium_article inline metatext">
        <div class="text--secondary">{{publishedDate}}</div>
        <div class="text--secondary">{{readingTime}}</div>
        <div>{{author}}</div> 
    </div>
    <div class="zci--medium_article inline">
        <img src="{{authorProfileImage}}" alt="authorProfileImage">
    </div>
    <a href="{{url}}"></a>
</div>
