<span>{{description}}</span><br><br>
<span>Browser Support </span><br>
<div>
	<div>
        <div class="guide-grid fourteen"></div>
        <div class="guide-grid fourteen">IE</div>
        <div class="guide-grid fourteen">Chrome</div>
        <div class="guide-grid fourteen">Firefox</div>
        <div class="guide-grid fourteen">Android</div>
        <div class="guide-grid fourteen">iOS Safari</div>
    </div>
    <div>
        <div class="guide-grid fourteen">Supported</div>
        <div class="guide-grid fourteen"><span>{{ie_stats.y}}</span></div>
        <div class="guide-grid fourteen"><span>{{chr_stats.y}}</span></div>
        <div class="guide-grid fourteen"><span>{{ff_stats.y}}</span></div>
        <div class="guide-grid fourteen"><span>{{and_stats.y}}</span></div>
        <div class="guide-grid fourteen"><span>{{saf_stats.y}}</span></div>
    </div>
    <div>
        <div class="guide-grid fourteen">Partially</div>
        <div class="guide-grid fourteen"><span>{{ie_stats.a}}</span></div>
        <div class="guide-grid fourteen"><span>{{chr_stats.a}}</span></div>
        <div class="guide-grid fourteen"><span>{{ff_stats.a}}</span></div>
        <div class="guide-grid fourteen"><span>{{and_stats.a}}</span></div>
        <div class="guide-grid fourteen"><span>{{saf_stats.a}}</span></div>
    </div>
</div>
<br><br>
<div class="usage_perc">
    <span>Usage:</span><br>
    <span>&emsp;Supported: {{usage_perc_y}}%</span><br>
    <span>&emsp;Partially Supported: {{usage_perc_a}}%</span><br>
    <span>Status: {{status}}</span>
</div>
