<div class="zci--seat_geek">
    <div class="tile--seat_geek">
        <div class="date">
            {{date}}
        </div>
        <div class="place">
            {{place}} • {{city}}
        </div>
        <p>
            Performers: 
            <span class="artist">
                {{artist}}
            </span>
            {{spice_print_performers performers}}
        </p>
    </div>
</div>