<div class="tile  tile--c tile--seat_geek" data-link="{{url}}">
    <div class="tile__body has-foot">
        <div class="header_container">
            <h4 class="tx-clr--dk tile__title media__body has_sub">
                {{title}}
            </h4>
            <span class="tile__title__sub">
                {{#if num_performers}}
                {{artist}} and {{num_performers}} others
                {{/if}}
            </span>
        </div>
        <div class="tile__content">
            <div class="one-line tx-clr--lt">
            <div class="where place one-line">
                {{place}}
            </div>
            <div class="where city one-line">
                {{city}}
            </div>
            </div>
        </div>
        <div class="tile__footer">
            {{#if price}}
                <div class="price tx-clr--dk">{{price}}</div>
            {{else}}
                <div class="noprice">Price N/A</div>
            {{/if}}
            <div class="date">
                <div class="month">
                    {{#if month}}
                        {{month}}
                    {{/if}}
                </div>
                <div class="day">
                    {{#if day}}
                        {{day}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>