<div class="tile  tile--c tile--seat_geek" data-link="{{url}}">
    <div class="tile__body has-foot">
        <h3 class="footer_date">
            {{date}}
        </h3>
            <div class="seat_geek-artist">
                {{artist}} live at:
            </div>
        <div class="tile__content">

        </div>
        <div class="tile__footer">
            <div class="one-line">
            <div class="footer_content">
                {{condense place maxlen="30"}}
            </div>
            <div class="footer_content">
                {{condense city maxlen="30"}}
            </div>
            </div>
        </div>
    </div>
</div>