<div class="one-line">
    <div class="tile__domain one-line">{{post_domain}}</div>
    <img src="{{arrowUrl}}"> {{points}} &middot; <a href="http://news.ycombinator.com/item?id={{id}}">{{plural num_comments singular="Comment" plural="Comments"}}</a>
</div>