{{#each topResults}}
	<div>
		<a href="{{url}}">{{condense title max_len="40"}}</a>
		<span>[{{comment_link num_comments}}]</span>
		<span>({{domain}}, {{{hn_points points}}})</span>
	</div>
{{/each}}

<hr>

<p class="showHide">Top Comments</p>
<div class="hide">

	{{#each topComments}}
	<div>
	<a href="{{url}}">{{condense text  max_len="200"}}</a>
		<span>[by {{{user_link username}}}]</span>
		<span>[{{{item_link "parent" this}}}]</span>
		{{#if discussion}}
		<span>{{{item_link discussion.title this}}}</span>
		{{else}}
		<span>{{{item_link title this}}}</span>
		{{/if}}
	</div>
	{{/each}}
</div>

<hr>

<p class="showHide">Other Stories</p>
<div class="hide">
	{{#each topSubmissions}}
	<div>
		<a href="{{url}}">{{{condense title}}}</a>
		<span>[{{{comment_link num_comments}}}]</span>
		<span>({{domain}}, {{{hn_points points}}})</span>
	</div>
	{{/each}}
</div>