<div class="tile  tile--c  tile--hacker-news" data-link="{{url}}">
	<div class="tile__body">
		<h5 class="tile__title">{{ellipsis title 68}}</h5>
		<a class="tile__stat" href="http://news.ycombinator.com/item?id={{{id}}}">
			<span class="tile__stat__num">{{num_comments}}</span>
			<span class="tile__stat__label">{{commentsLabel}}</span>
		</a>
		<div class="tile__stat">
			<span class="tile__stat__num">{{points}}</span>
			<span class="tile__stat__label">{{pointsLabel}}</span>
		</div>
		<p class="tile__date">{{relativeDate create_ts}}</p>
		<p class="tile__more-at">
			<img src="{{getIcon url}}" class="tile__favicon" />
			<span>{{domain}}</span>
		</p>
	</div>
</div>
