{{#each topStories}}
	<div>
		<a href="{{url}}">{{{condense title maxlen="40"}}}</a>
		<span>[{{{comment_link num_comments}}}]</span>
		<span>({{domain}}, {{{hn_points points}}})</span>
	</div>
{{/each}}

<hr class="horizontal-line">

<p class="showHide">Top Comments</p>
<div>
	{{#each topComments}}
	<div>
	<a href="{{url}}">{{{condense text  maxlen="200"}}}</a>
		<span>[by {{{user_link username}}}]</span>
		<span>[{{{item_link "parent"}}}]</span>
		{{#if discussion}}
		<span>{{{item_link discussion.title}}}</span>
		{{else}}
		<span>{{{item_link title}}}</span>
		{{/if}}
	</div>
	{{/each}}
</div>

<hr class="horizontal-line">

<p class="showHide">Other Stories</p>
<div>
	{{#each otherStories}}
	<div>
		<a href="{{url}}">{{{condense title}}}</a>
		<span>[{{{comment_link num_comments}}}]</span>
		<span>({{domain}}, {{{hn_points points}}})</span>
	</div>
	{{/each}}
</div>