<a href="http://dx.doi.org/{{id}}">
<span title="{{#if author_display}}{{#concat author_display sep=", " conj=", "}}{{this}}{{/concat}}.{{/if}}{{#if journal}} {{journal}}{{#if volume}} {{volume}}{{#if issue}}({{issue}}){{/if}}{{/if}}{{/if}} {{year publication_date}}">{{{title_display}}}</span>
</a> ({{year publication_date}})
