<a href="{{site_detail_url}}">{{name}}</a><br>
{{#if platforms}}
<span class="game_info_field">Platforms:</span>
{{#concat platforms sep="," conj="and"}}
    <a href="{{site_detail_url}}" title="{{name}}">{{abbreviation}}</a>
{{/concat}}
<br>
{{/if}}
{{#if original_game_rating}}
<span class="game_info_field">Rating:</span>
{{#concat original_game_rating sep="," conj="and"}}
    {{name}}
{{/concat}}
<br>
{{/if}}
{{#if original_release_date}}
<span class="game_info_field">Release Date:</span> {{release_date}}<br>
{{/if}}
{{{condense deck maxlen="350" fuzz="30"}}}
