<div class="tile__domain one-line">{{domainName}}</div>
<img src="{{iconArrowUrl}}"> <span class="tile__score">{{votes}}</span> &middot; <a href="{{commentsUrl}}">{{plural comments singular="Comment" plural="Comments"}}</a>
