<div class="tx-clr--grey-light">
    {{domainName}}
</div>

<img src="{{iconArrowUrl}}">
<span class="tx-clr--slate-light">
    {{votes}}
</span> &middot; 

<a href="{{commentsUrl}}">{{plural comments singular="Comment" plural="Comments"}}</a>
