<a href="https://digital.newint.com.au/issues/{{id}}"><img class="magazine-cover" src="{{cover.thumb2x.url}}"></a>
<a href="https://digital.newint.com.au/issues/{{id}}"><h5>{{title}}</h5></a>
<p class="sub-heading">NI {{number}} - {{release_date}}</p>
<p class="editor">Edited by <b>{{editors_name}}</b>.</p>