<p>
	<a href="https://digital.newint.com.au/issues/{{id}}">
		NI {{number}} - {{release_date}}
	</a>
</p>
<p>This edition of New Internationalist magazine was edited by <span class="editor">{{editors_name}}</span> and is available to purchase as an individual digital copy from <a href="https://digital.newint.com.au/issues/{{id}}">digital.newint.com.au</a>.</p>
<p>New Internationalist is a not-for-profit co-operative that publish a monthly social &amp; environmental justice magazine. They support majority world producers, selling ethically sourced products from their <a href="http://shop.newint.org">Fair Trade shop</a>.</p>