<div>
  <img src="{{imageProxy image}}" class="circle">
  <div>{{name}} @{{user}}</div>
  {{#if location}}
    <div>{{location}}</div>
  {{/if}}
  {{#if display_url}}
    <a href="{{expanded_url}}">{{display_url}}</a>
  {{/if}}
</div> 
{{#if description}}
  <div>{{description}}</div>
{{/if}}
