<div>
    <b>{{name}} ({{region_id3}}) - {{continent}}</b>
</div>

<div>
    Homosexuality: {{issues.homosexuality.current_status.value_formatted}}
</div>
<div>
    Marriage: {{issues.marriage.current_status.value_formatted}}
</div>
<div>
    Discrimination: {{issues.discrimination.current_status.value_formatted}}
</div>
<div>
    Housing Discrimination: {{issues.housing-discrimination.current_status.value_formatted}}
</div>
<div>
    Employment Discrimination: {{issues.employment-discrimination.current_status.value_formatted}}
</div>
<div>
    Military: {{issues.military.current_status.value_formatted}}
</div>
<div>
    Age of Consent: {{issues.age-of-consent.current_status.value_formatted}}
</div>
<div>
    Donating Blood: {{issues.blood.current_status.value_formatted}}
</div>
<div>
    Changing Gender: {{issues.changing-gender.current_status.value_formatted}}
</div>
<div>
    Conversion Therapy: {{issues.conversion-therapy.current_status.value_formatted}}
</div>