<span class='espn_zci_tab_link espn_zci_tab_selected' id='espn_zci_news_link'>News</span> |
{{#if}}<span class='espn_zci_tab_link' id='espn_zci_stats_link'>Stats</span> |{{/if}}
<span class='espn_zci_tab_link' id='espn_zci_gamelog_link'>Gamelog</span>

<div class='espn_zci_tab' style='display:block' id='espn_zci_news'>
    <img src='/iu?u={{headshot}}' id='espn_news_image'>
    <div class='blurb'>
        {{name}} is a professional baseball player for the {{teamCity}} {{teamName}} ({{league}}).
    </div>
    <ul>
        {{#each headline}}
        <li><a href='{{links.web.href}}'>{{headline}}</a> ({{source}})</li>
        {{/each}}
    </ul>
</div>

{{#if stats}}
<div class='espn_zci_tab' id='espn_zci_stats'>
    <div class='blurb'>
        {{name}} {{seasonTimeFrame}} {{seasonDescription}} season statistics:
    </div>
    <table>
        <ul>
            {{#if runs}}<li><tr><th>Runs:</th><td>{{runs}}</td></tr></li>{{/if}}
            {{#if RBIs}}<li><tr><th>Runs batted in:</th><td>{{RBIs}}</td></tr></li>{{/if}}
            {{#if average}}<li><tr><th>Average:</th><td>{{average}}</td></tr></li>{{/if}}
            {{#if slugAverage}}<li><tr><th>Slug average:</th><td>{{slugAverage}}</td></tr></li>{{/if}}

            {{#if wins}}
                <li><tr><th>Record:</th><td>
                    <span style="color:green">{{wins}}</span>/<span style="color:red">{{losses}}</span>
                </td></tr></li>
            {{/if}}
            {{#if ERA}}<li><tr><th>ERA:</th><td>{{ERA}}</td></tr></li>{{/if}}
            {{#if strikeouts}}<li><tr><th>Strikeouts:</th><td>{{strikeouts}}</td></tr></li>{{/if}}
            {{#if WHIP}}<li><tr><th>WHIP:</th><td>{{WHIP}}</td></tr></li>{{/if}}
        </ul>
    </table>
</div>
{{/if}}

<div class='espn_zci_tab' id='espn_zci_gamelog'>
    <div class='blurb'>
        The {{teamCity}} {{teamName}} have a {{record}} record.
    </div>
    <div id='espn_zci_gamelog_wrapper'>
        <table>
            <th></th><th>Home</th><th></th><th>Away</th><th></th><th></th></tr>
            {{#each events}}
            <tr>
                <td>{{date}}</td>
                <td><a href='{{home.link}}'>{{home.teamName}}<a/></td>
                <td>vs</td>
                <td><a href='{{away.link}}'>{{away.teamName}}<a/></td>
                <td>
                    <a href='{{link}}'>
                        {{#if win}}
                            <span style='color:green'>W</span>
                        {{else}}
                            <span style='color:red'>L</span>
                        {{/if}}
                        {{home.score}}-{{away.score}}
                    </a>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
