<li class='ddgc_item'>
    <a href="{{smart_url}}">
        <div class="image_wrap">
            <img src="/iu/?u={{thumbnail_208x117}}"></img>
        </div>
        <span>
            {{{condense episode_name maxlen="25"}}} <br />
            <small class="gb_info">Season {{season_number}}, Ep. {{episode_number}}</small>
            <small class="gb_info">{{getDate first_aired}}</small>
        </span>
    </a>
</li>


{{#if results.result}}
  <div>
    <a data-target="#searched" class="GB_showHide">Similar to {{{getQuery}}}</a>
    <div id="searched" class="hide">
        <ul>
            {{#each getSimilar}}
                <li><a href="https://duckduckgo.com/?q=guidebox+{{item.title}}>{{item.title}}</a></li>
            {{/each}}
        </ul>
    </div>
  </div>
{{/if}}
