

<li class='ddgc_item'>
    <a href="{{smart_url}}">
        <img src="/iu/?u={{thumbnail_208x117}}"></img>
        <img src="/iu/?u=http://duckduckgo.com/assets/icon_play.v101.png" class="play_button"></img>
        <span class="text_of_episode">
            {{{condense episode_name maxlen="25"}}} <br />
            <span class="smaller">{{getEpisodeInfo episode_number season_number}}</span> <br />
            <span class="smaller">{{getDate first_aired}}</span>
        </span>

    </a>
</li>


<div>
    {{#if results.result}}
        <hr class="horizontal_line">
        <a href="javascript:;" data-target="#searched" class="GB_showHide">Similar to {{{getQuery}}}</a>
        <div id="searched" class="hide">
            {{{getSimilar}}}
        </div>
    {{/if}}
</div>
