<div>
    <div><span class="watch_button"><b><a href="{{smart_url}}">{{getQuery}} - {{{condense episode_name maxlen="25"}}} (Watch Now)</a></b></span></div>
    <div><span class="aired_on">Aired on:</span> {{getDate first_aired}}</div>
    <div>{{overview}}</div>
</div>
