<!-- Div for the yacht specifications -->
<div class='thumb'>
    
    <div class='image'>
        <img src='{{result_photo}}' class='profile_photo' width=300px height=200px>
    </div>
    <div class='info'>
       <h5 class='yachtName'>{{name}}</h5>
        <table>
            <tr>
                <td>Length:</td>
                <td>{{length}}m</td>
            </tr>
            <tr>
                <td>Beam:</td>
                <td>{{beam}}m</td>
            </tr>
            <tr>
                <td>Yard:</td>
                <td>{{yard}}</td>
            </tr>
            <tr>
                <td>Year built:</td>
                <td>{{year}}</td>
            </tr>
            <tr>
                <td>Max speed:</td>
                <td>{{Mspeed}} knots</td>
            </tr>
        </table>                    
    </div>
</div>