<ul>
{{#each package}}
  <li>
    {{Name}}-{{Version}}: {{Description}} {{#if License}}({{License}}){{/if}}
    {{#if OutOfDate}}(out of date){{/if}}
    {{#if URL}}[<a href="{{URL}}">official site</a>]{{/if}}
  </li>
{{/each}}
</ul>
