<span class='espn_zci_tab_link espn_zci_tab_selected' id='espn_zci_news_link'>News</span> |
<span class='espn_zci_tab_link' id='espn_zci_stats_link'>Stats</span> |
<span class='espn_zci_tab_link' id='espn_zci_gamelog_link'>Gamelog</span>

<div class='espn_zci_tab' style='display:block' id='espn_zci_news'>
    {{#if headshot}}
        <img src='/iu?u={{headshot}}' id='espn_news_image'>
    {{else}}
        <style> #espn_zci_news .blurb { margin-right: 6px } </style>
    {{/if}}
    <div class='blurb'>
        {{name}} is a professional soccer player for the {{teamCity}} {{teamName}} (ENG).
    </div>
    <ul>
        {{#each headline}}
        <li><a href='{{links.web.href}}'>{{headline}}</a> ({{source}})</li>
        {{/each}}
    </ul>
</div>

<div class='espn_zci_tab' id='espn_zci_stats'>
    <div class='blurb'>
        {{name}} {{seasonTimeFrame}} {{seasonDescription}} season statistics:
    </div>
    <table>
        <tr><th>Goals:</th><td>{{goals}}</td></tr>
        <tr><th>Shots:</th><td>{{shots}}</td></tr>
        <tr><th>Starts:</th><td>{{starts}}</td></tr>
        <tr><th>Fouls committed:</th><td>{{foulsCommitted}}</td></tr>
    </table>
</div>

<div class='espn_zci_tab' id='espn_zci_gamelog'>
    <div class='blurb'>
        The {{teamCity}} {{teamName}} have won {{teamWinPercentage}}% of their season games.
    </div>
    <div id='espn_zci_gamelog_wrapper'>
        <table>
            <th></th><th>Home</th><th></th><th>Away</th><th></th><th></th></tr>
            {{#each events}}
            <tr>
                <td>{{date}}</td>
                <td><a href='{{home.link}}'>{{home.teamName}}<a/></td>
                <td>vs</td>
                <td><a href='{{away.link}}'>{{away.teamName}}<a/></td>
                <td>
                    <a href='{{link}}'>
                        {{#if win}}
                            <span style='color:green'>W</span>
                        {{else}}
                            <span style='color:red'>L</span>
                        {{/if}}
                        {{home.score}}-{{away.score}}
                    </a>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
