<table class="zci__table">
    <tr class="zci__table__tr">
        <th>Name</th>
        <th>TTL</th>
        <th>Class</th>
        <th>Type</th>
        <th>Priority</th>
        <th>Data</th>
    </tr>
    {{#each records}}
    <tr class="zci__table__tr">
        <td>{{name}}</td>
        <td>{{ttl}}</td>
        <td>{{class}}</td>
        <td>{{type}}</td>
        <td>{{priority}}</td>
        <td>{{data}}</td>
    </tr>
    {{/each}}
</table>
