<div class="sub tile__tx tile__rating one-line">
    <span>{{sub}}</span>
    <span class="detail__separator"> | </span>
    {{{starRating rating}}}
    <span class="percentage">{{percentage}}</span>
</div>
<div class="content">
    {{#if description}}
        <div class="desc">
            {{condense description maxlen="145"}}
        </div>
    {{/if}}
        <div class="actors">
            <span class="starring">Starring: </span>
            {{actors}}.
        </div>
    {{#unless description}}
        <div class "reviews">
            Reviews on <a href="{{links.rottentomatoes}}">Rotten Tomatoes</a> and <a href="{{links.imdb}}">IMDb</a>.
        </div>
    {{/unless}}
</div>