<div class="sub tile__tx tile__rating one-line">
    <span>{{sub}}</span>
    <span class="detail__separator"> | </span>
    <span class="stars  stars--{{rating}}">
        <i class="star  stars__1"></i>
        <i class="star  stars__2"></i>
        <i class="star  stars__3"></i>
        <i class="star  stars__4"></i>
        <i class="star  stars__5"></i>
    </span>
    <span class="percentage">{{percentage}}</span>
</div>
<div class="content">
    {{#if description}}
        <div class="desc">
            {{condense description maxlen="200"}}
        </div>
    {{/if}}
        <div class="actors">
            <span class="starring">Starring: </span>
            {{actors}}.
        </div>
    {{#unless description}}
        <div class "reviews">
            Reviews on <a href="{{links.rottentomatoes}}">Rotten Tomatoes</a> and <a href="{{links.imdb}}">IMDb</a>.
        </div>
    {{/unless}}
</div>