<div class='sun_rise_set--header text--secondary'>
    <span class='ddgsi'>@</span>{{location}}, {{country}} on {{current_date}}
</div>
<div class='sun_rise_set--row'>
    <span class='sun_rise_set--risebox'>
        <img src="{{sunrise_image}}" title="Sunrise">
    </span>
    <span class='sun_rise_set--timeboxes sun_rise_set--border-right'>
        <span class='text--primary sun_rise_set--time'>{{sunrise_time}}</span>
    </span>
    <span class='sun_rise_set--setbox'>
        <img src="{{sunset_image}}" title="Sunset">
    </span>
    <span class='sun_rise_set--timeboxes'>
        <span class='text--primary sun_rise_set--time'>{{sunset_time}}</span>
    </span>
</div>
