<div class='zci--suninfo'>
  <div class='suninfo--header text--secondary'><span class='ddgsi'>@</span>{{country}}</div>
  <div class='suninfo--row'>
    <span class='suninfo--risebox'>
      <img src="{{sunrise_image}}">
    </span><span class='suninfo--timeboxes suninfo--border-right'><span class='text--primary suninfo--times'>{{sunrise_time}}</span></span>
    <span class='suninfo--setbox'>
      <img src="{{sunset_image}}">
    </span><span class='suninfo--timeboxes'><span class='text--primary suninfo--times'>{{sunset_time}}</span></span>
  </div>
</div>
