<div class='sun_rise_set--header text--secondary'>
    <span class='ddgsi'>@</span>{{country}}
</div>
<div class='sun_rise_set--row'>
    <span class='sun_rise_set--risebox'>
        <img src="{{sunrise_image}}">
    </span>
    <span class='sun_rise_set--timeboxes sun_rise_set--border-right'>
        <span class='text--primary sun_rise_set--times'>{{sunrise_time}}</span>
    </span>
    <span class='sun_rise_set--setbox'>
        <img src="{{sunset_image}}">
    </span>
    <span class='sun_rise_set--timeboxes'>
        <span class='text--primary sun_rise_set--times'>{{sunset_time}}</span>
    </span>
</div>
