<div><strong>Whois for {{domainName}}</strong></div>
<br />
<div>Registered to: {{registrantName}}</div>
<div>Email: {{contactEmail}}</div>
<div>Last updated: {{updatedDate}}</div>
<div>Expires: {{expirationDate}}</div>

