{{#unless has_started}}<div class="c-score__head__time">{{momentTime start_time}}</div>{{/unless}}
<div class="c-score__head__date">
	{{#if has_interesting_status}}
		<span class="c-score__status">{{status}}</span>
	{{else}}
		{{#if is_playing}}
			{{#if meta.options.in_progress}}
				{{{include meta.options.in_progress}}}
			{{else}}
				<span class="c-score__clock">{{clock}}</span>
			{{/if}}
		{{else}}
			{{#if relativeDay}}
				<span class="tx-clr--slate">{{relativeDay}}</span>
			{{else}}
				{{momentDate start_time}}
			{{/if}}
		{{/if}}
	{{/if}}
</div>
