<div class="c-score__team__logo">
	<a href="{{more_at_link}}"><img class="c-score__team__img  js-lazysvg" src="" data-src="{{image}}"></a>
</div>
<div class="c-score__team__name">
	<a class="c-score__team__link" href="{{more_at_link}}">
		<span class="c-score__team__market">{{location}}</span>
		<span class="c-score__team__nick">{{name}}</span>
	</a>
</div>
<div class="c-score__team__short">{{short_name}}</div>
