<div><b><a href="{{Url}}">{{Name}}</a></b> <span class="likes">({{Votes}} likes)</span></div>
<div><i>Description:</i> {{{ShortDescription}}}</div>
<div><i>Platforms:</i> {{#concat Platforms sep=", " conj=" and "}}{{this}}{{/concat}}</div>
