<img src="{{imageProxy IconUrl}}" alt="{{Name}}" class="tile__icon" />

<h5 class="tile__title">
    <a href="{{url}}">{{ellipsis Name 26}}</a>
</h5>

{{#if ShortDescription}}
    <div class="tile__description">{{ellipsis ShortDescription 90}}</div>
{{/if}}

<div>
    {{Votes}} likes{{#if Platforms}} &bull; {{AlternativeTo_getPlatform Platforms}}{{/if}}
</div>
