<img src="{{imageProxy IconUrl}}" alt="{{Name}}" class="tile__icon" />

<h5 class="tile__title">
    <a href="{{Url}}">{{ellipsis Name 26}}</a>
</h5>

{{#if ShortDescription}}
    <div class="tile__description tile__title">{{{ellipsis ShortDescription 100}}}</div>
{{/if}}

<div>
    {{Votes}} likes &bull; {{getPlatform Platforms}}
</div>
