<div class="xkcd--container">
    
  <div style="" class="xkcd--information">
    <h3 class="zci__caption  zci__result">{{title}}</h3>
    <h4 class="zci__subheader xkcd--date">{{month}} {{day}}, {{year}}</h4>
  </div>
    
  <img src="{{imageProxy img}}" title="{{alt}}" alt="{{title}}" class="xkcd--img">

  <div class="xkcd--buttons">
    {{#xkcd_previousNum num}}
      <a href="/?q=xkcd+{{num}}" class="tile-nav--sm tile-nav--sm--prev can-scroll"></a>
    {{/xkcd_previousNum}}

    <a href="http://www.explainxkcd.com/wiki/index.php/{{num}}" class="btn">Explain</a>

    {{#if has_next}}
      {{#xkcd_nextNum num}}
        <a href="/?q=xkcd+{{num}}" class="tile-nav--sm tile-nav--sm--next can-scroll"></a>
      {{/xkcd_nextNum}}
    {{/if}}
  </div>
</div>