<div class="xkcd--container">
  <img src="/iu/?u={{img}}" title="{{alt}}" alt="{{title}}" class="xkcd--img">
  <div class="xkcd--buttons">
  {{#xkcd_previousNum num}}
    <a href="/?q=xkcd+{{num}}" class="btn btn--primary">Prev</a>
  {{/xkcd_previousNum}}
  {{#if has_next}}
    {{#xkcd_nextNum num}}
      <a href="/?q=xkcd+{{num}}" class="xkcd-next-link btn btn--primary">Next</a>
    {{/xkcd_nextNum}}
  {{/if}}
  </div>
</div>