<div class="xkcd--container">
  <div style="" class="xkcd--information">
    <h3 class="zci__caption  zci__result">{{title}}</h3>
    <h4 class="zci__subheader xkcd--date">{{month}} {{day}}, {{year}}</h4>
    <div class="xkcd--buttons">
      {{#xkcd_previousNum num}}
      <a href="/?q=xkcd+{{num}}">Prev</a>
      {{/xkcd_previousNum}}
      <span>|</span>

      {{#if has_next}}
        {{#xkcd_nextNum num}}
          <a href="/?q=xkcd+{{num}}">Next</a>
        {{/xkcd_nextNum}}
        <span>|</span>
      {{/if}}
      <a href="http://www.explainxkcd.com/wiki/index.php/{{num}}">Explain</a>
    </div>
  </div> 
  <img src="{{imageProxy img}}" title="{{alt}}" alt="{{title}}" class="xkcd--img">
</div>