<img src="/iu/?u={{img}}" class="img_zero_click_big" title="{{alt}}" alt="{{title}}">
{{#xkcd_previousNum num}}
	<br><a href="/?q=xkcd+{{num}}">Prev</a>
{{/xkcd_previousNum}}
{{#if has_next}}
	{{#xkcd_nextNum num}}
		<a id="xkcd-next-link" href="/?q=xkcd+{{num}}">Next</a>
	{{/xkcd_nextNum}}
{{/if}}
