<div class="xkcd--container">

  <img src="{{imageProxy img}}" title="{{alt}}" alt="{{title}}" class="xkcd--img">

  <div class="xkcd--buttons">
    {{#xkcd_previousNum num}}
      <a href="/?q=xkcd+{{num}}" class="btn btn--primary xkcd--prev">Prev</a>
    {{/xkcd_previousNum}}

    <a href="http://www.explainxkcd.com/wiki/index.php/{{api_result.num}}" class="btn xkcd--explain">Explain</a>

    {{#if has_next}}
      {{#xkcd_nextNum num}}
        <a href="/?q=xkcd+{{num}}" class="btn btn--primary xkcd--next">Next</a>
      {{/xkcd_nextNum}}
    {{/if}}
  </div>
</div>