<div class="landsat--container">
  <div style="" class="landsat--information">
    <h3 class="zci__header">{{id}}</h3>
    <h4 class="zci__subheader landsat--date">{{date}}</h4>
  </div> 
  <img src="{{imageProxy url}}" title="{{alt}}" alt="{{title}}" class="landsat--img">
</div>
