<pre>
    {{name}} :: {{signature}}
</pre>
<div>Package: {{#strip_html package}}{{this}}{{/strip_html}}</div>
<div>Module: {{#strip_html module}}{{this}}{{/strip_html}}</div>
<div>{{{strip_anchor description}}}</div>
