<h1 class="zci--stocks--header zci__header">
    <a href="{{url}}" title="{{urlTitle}}">
        {{name}}
    </a>
</h1>
<div class="zci--stocks--sub  zci__header__sub">
    <span class="zci--stocks--symbol">{{symbol}}</span>
    <span>as of {{quote_date}}</span>
    <span title="Eastern Time Zone"> ET</span>
</div>
<div class="zci--stocks--quotes  zci--stocks--quote-{{quoteChangeDir}}">
    <span class="zci--stocks--quote text--primary">{{quote}}</span>
    <span class="zci--stocks--change">{{change}}</span>
    <span class="zci--stocks--change-sep detail__sep"></span>
    <span class="zci--stocks--change-pct">{{change_percent}}</span>
</div>