<div class="tile tile--f tile--get_events">
    <!-- Front of tile -->
    <div class="tile--f__main tile--get_events__main">
        <div class="tile__body has-foot--4">
            <div class="tile__title--wrap">
                <h5 class="tile__title with-sub tile__title--3">{{name}}</h5>
                <span class="tile__sub tx--13 tx-clr--grey">
                  {{#unless is_full_day}}
                    {{#with start_end}}
                        {{start}}
                        {{~#and start hours~}}
                        , {{hours.start}}-{{hours.end}}
                        {{/and}}
                        {{~#and start end~}}
                        - {{end}}
                        {{/and}}
                    {{/with}}
                    {{else}}
                        Full Day
                  {{/unless}}
                </span>
            </div>
            <div class="tile__num--get_events pull-right tx-clr--slate">
                <div class="number">
                    {{num}}
                </div>
            </div>
        </div>

        <div class="tile__foot tile__foot--4 tx--13 tx-clr--grey">
        {{#with venue}}
            {{#if name}}{{name}}<br/>{{/if}}
            {{#if steet}}<span class="one-line">{{street}}</span><br/>{{/if}}
            {{#with address}}
                {{#if city}}{{city}}{{/if}}
                {{~#and city zip~}}, {{/and}}
                {{#if zip}}{{zip}}{{/if}}
            {{/with}}
        {{/with}}
        </div>
    </div>

    <!-- Back of tile -->
    <div class="tile--f__alt tile--get_events__alt">
        <div class="tile__body  {{#and url meta.sourceName}}has-foot{{/and}}">

            <h5 class="tile__title tile__title--1">{{name}}</h5>

            <div class="tile__content tile__content--lg tx-clr--slate-light tx--13">
                {{~#if description~}}
                    {{ellipsis description 110}}
                {{~else~}}
                    No description available.
                {{/if}}
            </div>

            {{#and url meta.sourceName}}
                <div class="tile__foot">
                    {{{moreAt url meta.formattedSourceName dynamicMoreAtText=5}}}
                </div>
            {{/and}}
        </div>
    </div>
</div>