<div class="tile tile--c tile--get_events" data-link="{{url}}">
    <div class="tile__body has-foot">
        <div class="header_container">
            <h4 class="tx-clr--dk tile__title media__body has_sub">
                {{title}}
            </h4>
        </div>
	<!--img class="tile__media__img" src={{img}} height="20%" width="20%" alt=""-->
        <div class="tile__content">
            <div class="tx-clr--lt">
            <div class="where place one-line">
                {{place}}
            </div>
            </div>
        </div>
        <div class="tile__footer">
            <div class="date">
                <div class="month">
                    {{#if month}}
                        {{month}}
                    {{/if}}
                </div>
                <div class="day">
                    {{#if day}}
                        {{day}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
